{
  "identifier": "org.standardnotes.advanced-markdown-editor-dev",
  "name": "Markdown Pro - Development",
  "content_type": "SN|Component",
  "area": "editor-editor",
  "version": "1.0.0",
  "url": "http://localhost:8001/"
}
