{
  "identifier": "org.standardnotes.token-vault-dev",
  "name": "TokenVault - Development",
  "content_type": "SN|Component",
  "area": "editor-editor",
  "version": "1.0.0",
  "url": "http://localhost:8001/"
}
