PORT=3001

DEFAULT_SYNC_SERVER=https://api.standardnotes.com

# Subscription related endpoints
DASHBOARD_URL=http://standardnotes.com/dashboard
PLANS_URL=https://standardnotes.com/plans
PURCHASE_URL=https://standardnotes.com/purchase
