[submodule "vendor/extensions/extensions-manager"]
	path = vendor/extensions/extensions-manager
	url = https://github.com/sn-extensions/extensions-manager.git
[submodule "app/extensions/extensions-manager"]
	path = app/extensions/extensions-manager
	url = https://github.com/sn-extensions/extensions-manager.git
[submodule "public/extensions/extensions-manager"]
	path = public/extensions/extensions-manager
	url = https://github.com/sn-extensions/extensions-manager.git

