.eslintcache
.DS_Store
.vscode
.idea
node_modules

# Ignore bundler config.
web-server/.bundle
web-server/log/*
!web-server/log/.keep
web-server/tmp
web-server/config/cap.yml
web-server/app/assets/templates/generated/
web-server/public/assets
web-server/public/robots.txt
web-server/public/uploads/*
!web-server/public/uploads/.keep

packages/web/dist

/.sass-cache

.env
.ssh
dump.rdb
.vscode
/dist
yarn-error.log
package-lock.json
codeqldb
coverage
