.eslintcache
.DS_Store
.vscode
.idea
node_modules
.sass-cache
.env
.ssh
dump.rdb
.vscode
yarn-error.log
package-lock.json
codeqldb
coverage
lerna-debug.log

packages/**/dist
!packages/components/dist

**/.pnp.*
**/.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
!.yarn/cache
