<!--
  This file is strictly used for local development using the webpack-dev-server.
-->
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta content="IE=edge" http-equiv="X-UA-Compatible" />
  <meta content="width=device-width, initial-scale=1" name="viewport" />

  <link href="favicon/apple-touch-icon.png" rel="apple-touch-icon" sizes="180x180">
  </link>
  <link href="favicon/favicon-32x32.png" rel="icon" sizes="32x32" type="image/png">
  </link>
  <link href="favicon/favicon-16x16.png" rel="icon" sizes="16x16" type="image/png">
  </link>
  <link href="manifest.webmanifest" rel="manifest">
  </link>

  <link color="#5bbad5" href="favicon/safari-pinned-tab.svg" rel="mask-icon">
  </link>
  <meta name="theme-color" content="#ffffff">

  <meta content="Standard Notes" name="apple-mobile-web-app-title" />
  <meta content="Standard Notes" name="application-name" />

  <title>Dev · Notes · Standard Notes</title>
</head>

<body
  data-default-sync-server="<%= env.DEFAULT_SYNC_SERVER %>"
  data-default-files-host="<%= env.DEFAULT_FILES_HOST %>"
  data-bugsnag-api-key="<%= env.BUGSNAG_API_KEY %>"
  data-enable-unfinished-features="<%= env.ENABLE_UNFINISHED_FEATURES %>"
  data-web-socket-url="<%= env.WEBSOCKET_URL %>"
  data-purchase-url="<%= env.PURCHASE_URL %>"
  data-plans-url="<%= env.PLANS_URL %>"
  data-dashboard-url="<%= env.DASHBOARD_URL %>"
  data-dev-account-email="<%= env.DEV_ACCOUNT_EMAIL %>"
  data-dev-account-password="<%= env.DEV_ACCOUNT_PASSWORD %>"
  data-dev-account-server="<%= env.DEV_ACCOUNT_SERVER %>"
  >
  <script>
    window.defaultSyncServer = document.body.dataset.defaultSyncServer || "https://api.standardnotes.com";
    window.defaultFilesHost = document.body.dataset.defaultFilesHost;
    window.bugsnagApiKey = document.body.dataset.bugsnagApiKey;
    window.enabledUnfinishedFeatures = document.body.dataset.enableUnfinishedFeatures === 'true';
    window.websocketUrl = document.body.dataset.webSocketUrl;
    window.purchaseUrl = document.body.dataset.purchaseUrl;
    window.plansUrl = document.body.dataset.plansUrl;
    window.dashboardUrl = document.body.dataset.dashboardUrl;
    window.devAccountEmail = document.body.dataset.devAccountEmail;
    window.devAccountPassword = document.body.dataset.devAccountPassword;
    window.devAccountServer = document.body.dataset.devAccountServer;
  </script>
</body>

</html>
