$transition-duration: 750ms;

@keyframes strike {
  from {
    text-decoration: line-through 1px solid transparent;
  }
  to {
    text-decoration: line-through 1px solid var(--sn-stylekit-info-color);
  }
}

.cross-out {
  animation-duration: $transition-duration;
  animation-fill-mode: forwards;
  animation-name: strike;
  animation-timing-function: linear;
}

.no-text-decoration {
  text-decoration: none !important;
}
