.h-3 {
  height: 0.75rem;
}

.h-26 {
  width: 6.5rem;
}

.h-30 {
  width: 7.5rem;
}

.h-33 {
  height: 8.25rem;
}

.h-90vh {
  height: 90vh;
}

.min-h-1px {
  min-height: 1px;
}

.min-h-1 {
  min-height: 0.25rem;
}

.min-h-2 {
  min-height: 0.5rem;
}

.min-h-3 {
  min-height: 0.75rem;
}

.min-h-4 {
  min-height: 1rem;
}

.min-h-6 {
  min-height: 1.5rem;
}

.min-h-8 {
  min-height: 2rem;
}

.min-h-16 {
  min-height: 4rem;
}

.max-h-5 {
  max-height: 1.25rem;
}

.max-h-110 {
  max-height: 27.5rem;
}