.w-3 {
  width: 0.75rem;
}

.w-6 {
  width: 1.5rem;
}

.w-18 {
  width: 4.5rem;
}

.w-26 {
  width: 6.5rem;
}

.w-30 {
  width: 7.5rem;
}

.w-92 {
  width: 23rem;
}

.w-200 {
  width: 50rem;
}

.min-w-1 {
  min-width: 0.25rem;
}

.min-w-2 {
  min-width: 0.5rem;
}

.min-w-3 {
  min-width: 0.75rem;
}

.min-w-5 {
  min-width: 1.25rem;
}

.min-w-6 {
  min-width: 1.5rem;
}

.min-w-7 {
  min-width: 1.75rem;
}

.min-w-15 {
  min-width: 3.75rem;
}

.min-w-24 {
  min-width: 6rem;
}

.min-w-30 {
  min-width: 7.5rem;
}

.min-w-60 {
  min-width: 15rem;
}

.min-w-68 {
  min-width: 17rem;
}

.min-w-70 {
  min-width: 17.5rem;
}

.min-w-76 {
  min-width: 19rem;
}

.min-w-90 {
  min-width: 22.5rem;
}

.max-w-68 {
  max-width: 17rem;
}

.max-w-72 {
  max-width: 18rem;
}

.max-w-76 {
  max-width: 19rem;
}

.max-w-89 {
  max-width: 22.25rem;
}

.max-w-200 {
  max-width: 50rem;
}

.max-w-35ch {
  max-width: 35ch;
}

.max-w-40\% {
  max-width: 40%;
}

.max-w-1\/2 {
  max-width: 50%;
}

.max-w-3\/4 {
  max-width: 75%;
}

.max-w-80\% {
  max-width: 80%;
}

.max-w-full {
  max-width: 100%;
}
