.Lexical__listItemUnchecked,
.Lexical__listItemChecked {
  min-height: 18px;
  margin-bottom: 4px;
}
.Lexical__listItemUnchecked:before,
.Lexical__listItemChecked:before {
  top: 0px;
}
.Lexical__listItemChecked:after {
  top: 1px;
}
.Lexical__table {
  margin: 10px 0;
}
