<!DOCTYPE html>
<html>
  <head>
    <base target="_blank">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0">
    <title>Simple Task Editor</title>
  </head>
  <body>
  </body>
</html>