<!DOCTYPE html>
<html>
  <head>
    <base target="_blank">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1">
    <link href="vendor.css" rel="stylesheet">
    <script type="text/javascript" src="vendor.js"></script>
    <script type="text/javascript" src="filesafe-js/EncryptionWorker.js"></script>
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>

  <body></body>
</html>
