@import '~filesafe_embed';

html, body {
  font-size: var(--sn-stylekit-base-font-size);
  margin: 0;
  padding: 0;
  height: 100%;
  line-height: 1;
  background-color: transparent;
}

#root {
  position: relative;
}

#embed {
  position: relative;
}

#expand-button {
  position: fixed;
  top: 1.1rem;
  right: 2rem;
  box-shadow: var(--sn-stylekit-border-color) 0 1px 2px;
}
