/* General */


body {
  color: #d0d0d0 !important;
}

.app .section > .content {
  background-color: #292937 !important;
}

.section-menu {
  background-color: #313142 !important;
  color: white !important;
}

.add-button {
  background-color: #2d2d3d !important;
}

.panel {
  background-color: #20202b !important;
  color: #d8d8d8 !important;
}

.dropdown-menu {
  background-color: #20202b !important;
  color: #d8d8d8 !important;
}

.nt-dropdown-menu.dark li .text {
  color: #d8d8d8 !important;
}

.blue {
  color: #60a8f3 !important;
}

.gray-bg {
  background-color: #20202b !important;
  color: #d8d8d8 !important;
  border: 1px solid #292937 !important;
}

.white-bg {
  background-color: #313142 !important;
  color: white !important;
}


/* Tags */

.app .tags .content {
  background-color: #191922 !important;
}

#tags-title-bar {
  color: #d8d8d8 !important;
}

.tags .tag {
  color: #d6d6e1 !important;
}

.tags .tag > .info > .title {
  color: #d6d6e1 !important;
}

.tags .tag.selected {
  background-color: #292937 !important;
}

.tags .tag:hover:not(.selected) {
  background-color: #292937 !important;
}


/* Notes */

.app .notes .content {
  background-color: #20202b !important;
}

.notes {
  border-left: 1px solid #13131a !important;
  border-right: 1px solid #13131a !important;
}

#notes-title-bar {
  color: #d8d8d8 !important;
  background-color: #191922 !important;
}

.notes .filter-section .filter-bar {
  background-color: #2d2d3d !important;
}

.notes .note.selected {
  background-color: #292937 !important;
  color: #d6d6e1 !important;
}

.notes .note {
  border-bottom: 1px solid #13131a !important;
  background-color: #20202b !important;
  color: #d6d6e1;
}


/* Editor */

#editor-title-bar {
  background-color: #191922 !important;
}

#editor-title-bar > .title > .input {
  color: #d8d8d8 !important;
}

.editor-content {
  background-color: #202020 !important;
}

.editor-content .editable {
  background-color: #202020;
  color: #c7c7e0;
}

#editor-title-bar .editor-tags .tags-input {
  color: #d8d8d8 !important;
}



/* Menus */

.menu-section-header {
  background-color: #20202b !important;
  border-bottom: 1px solid #2f2f2f !important;
  color: #d8d8d8 !important;
}

.dropdown-menu.editor-menu ul li.menu-item {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1) !important;
  background-color: #20202b !important;
}

.dropdown-menu.editor-menu ul li.menu-item:hover {
  background-color: #292937 !important;
  color: #d6d6e1 !important;
}

.menu-section-footer {
  background-color: #20202b !important;
  border-top: 1px solid #2f2f2f !important;
  color: #d8d8d8 !important;
}


/* Footer */

#footer-bar {
  background-color: #191922 !important;
}

#footer-bar a {
  color: #60a8f3;
}

.footer-bar-link > a {
  color: #dbdbdb !important;
}

/* UI */

button.light {
  background-color: #0088ff !important;
  border: 0 !important;
  color: white !important;
}

.form-control {
  background-color: #2d2d3d !important;
  border: 1px solid #13131a !important;
}
