.panel.panel-default
  .panel-heading
    %h3.panel-title Sign in to start your session
  .panel-body
    %form{'ng-submit' => 'submitLogin(loginData)', 'ng-init' => 'loginData = {}'}
      .form-group.has-feedback
        %input.form-control{:autofocus => 'autofocus', :name => 'email', :placeholder => 'Username', :required => true, :type => 'email', 'ng-model' => 'loginData.email'}/
        %span.glyphicon.glyphicon-user.form-control-feedback
      .form-group.has-feedback
        %input.form-control{:placeholder => 'Password', :name => 'password', :required => true, :type => 'password', 'ng-model' => 'loginData.password'}/
        %span.glyphicon.glyphicon-lock.form-control-feedback
      .row
        .col-sm-8.hidden-xs
          %a.btn.btn-link{'ui-sref' => 'auth.forgot'} I forgot my password
        .col-sm-4
          %button.btn.btn-main.btn-block.btn-flat{:type => 'submit'} Sign in
        .col-xs-12.visible-xs
          %a.btn.btn-link.btn-block{'ui-sref' => 'auth.forgot'} I forgot my password
