@media screen and (min-width: 1024px) {
  #app {
    display: flex;
  }

  #navigation {
    flex: none !important;
    width: 49px !important;
    transition: width 0.25s;
  }

  #navigation:hover {
    flex: initial;
    width: 200px !important;
    transition: width 0.25s;
  }

  #items-column {
    flex: none !important;
    width: 270px !important;
    transition: width 0.25s;
  }

  #items-column:hover {
    flex: initial;
    width: 380px !important;
    transition: width 0.25s;
  }
}
