:root {

  --foreground-color: #3d3c40;
  --background-color: #663399;
  --highlight-color: #c9cccf;

  --border-color: var(--highlight-color);

  // StyleKit Vars
  --sn-stylekit-shadow-color: var(--highlight-color);

  --sn-stylekit-info-color: var(--background-color);
  --sn-stylekit-info-contrast-color: #e6e6e6;

  --sn-stylekit-neutral-color: #7c7c7c;
  --sn-stylekit-neutral-contrast-color: #ffffff;

  --sn-stylekit-success-color: #2B9612;
  --sn-stylekit-success-contrast-color: #ffffff;

  --sn-stylekit-warning-color: #f6a200;
  --sn-stylekit-warning-contrast-color: #ffffff;

  --sn-stylekit-danger-color: #F80324;
  --sn-stylekit-danger-contrast-color: #ffffff;

  --sn-stylekit-background-color: #d9dbde;
  --sn-stylekit-foreground-color: #3d3c40;
  --sn-stylekit-border-color: #c9cccf;

  --sn-stylekit-contrast-background-color: #e7e7e7;
  --sn-stylekit-contrast-foreground-color: #3d3c40;
  --sn-stylekit-contrast-border-color: #c9cccf;

  --sn-stylekit-secondary-background-color: #d8d9de;
  --sn-stylekit-secondary-foreground-color: #3d3c40;
  --sn-stylekit-secondary-border-color: #c9cccf;

  --sn-stylekit-secondary-contrast-background-color: #e7e7e7;
  --sn-stylekit-secondary-contrast-foreground-color: #3d3c40;
  --sn-stylekit-secondary-contrast-border-color: #c9cccf;

  --sn-stylekit-editor-background-color: var(--sn-stylekit-background-color);
  --sn-stylekit-editor-foreground-color: var(--sn-stylekit-foreground-color);

  --sn-stylekit-paragraph-text-color: #3d3c40;

  --sn-stylekit-scrollbar-track-border-color: var(--border-color);
  --sn-stylekit-scrollbar-thumb-color: var(--sn-stylekit-neutral-color);

  --sn-desktop-titlebar-bg-color: #d9dbde;
  --sn-desktop-titlebar-border-color: var(--highlight-color);
  --sn-desktop-titlebar-ui-color: var(--foreground-color);
  --sn-desktop-titlebar-ui-hover-color: var(--background-color);

  --sn-stylekit-menu-border: 1px solid #b2b2b3;
}
