#footer-bar
  .pull-left
    .footer-bar-link{"click-outside" => "ctrl.showAccountMenu = false;", "is-open" => "ctrl.showAccountMenu"}
      %a{"ng-click" => "ctrl.accountMenuPressed()", "ng-class" => "{red: ctrl.error}"} Account
      %account-menu{"ng-if" => "ctrl.showAccountMenu"}

    .footer-bar-link{"click-outside" => "ctrl.showExtensionsMenu = false;", "is-open" => "ctrl.showExtensionsMenu"}
      %a{"ng-click" => "ctrl.toggleExtensions()"} Extensions
      %global-extensions-menu{"ng-if" => "ctrl.showExtensionsMenu"}

    .footer-bar-link
      %a{"href" => "https://standardnotes.org/help", "target" => "_blank"}
        Help

  .pull-right

    .footer-bar-link{"style" => "margin-right: 5px;"}
      %div{"ng-if" => "ctrl.lastSyncDate", "style" => "float: left; font-weight: normal; margin-right: 8px;"}
        %span{"ng-if" => "!ctrl.isRefreshing"}
          Last refreshed {{ctrl.lastSyncDate | appDateTime}}
        %span{"ng-if" => "ctrl.isRefreshing"}
          .spinner{"style" => "margin-top: 2px;"}

      %strong{"ng-if" => "ctrl.offline"} Offline
      %a{"ng-if" => "!ctrl.offline", "ng-click" => "ctrl.refreshData()"} Refresh
