.header
  .header-content
    .menu.left

      .items
        .item.account
          %a{"ng-click" => "ctrl.accountMenuPressed()"} Data
          %account-data-menu
          -# {"ng-if" => "ctrl.showAccountMenu"}

        .item
          %a{"ng-click" => "ctrl.toggleExtensions()"} Extensions
          %global-extensions-menu{"ng-if" => "ctrl.showExtensionsMenu"}

        .item
          %a{"href" => "https://standardnotes.org", "target" => "_blank"}
            Help

    .menu.right
      .items
        .item.last-refreshed{"ng-if" => "ctrl.lastSyncDate"}
          %span{"ng-if" => "!ctrl.isRefreshing"}
            Last refreshed {{ctrl.lastSyncDate | appDateTime}}
          %span{"ng-if" => "ctrl.isRefreshing"}
            .spinner
        .item{"ng-click" => "ctrl.refreshData()"}
          Refresh
