.main-ui-view
  .app-container
    .app
      %tags-section{"save" => "tagsSave", "add-new" => "tagsAddNew", "will-select" => "tagsWillMakeSelection", "selection-made" => "tagsSelectionMade", "all-tag" => "allTag",
                      "tags" => "tags", "user" => "defaultUser", "update-note-tag" => "tagsUpdateNoteTag"}

      %notes-section{"remove-tag" => "notesRemoveTag", "user" => "defaultUser", "add-new" => "notesAddNew", "selection-made" => "notesSelectionMade",
                        "tag" => "selectedTag", "remove" => "deleteNote"}

      %editor-section{"ng-if" => "selectedNote", "note" => "selectedNote", "remove" => "deleteNote",
                      "user" => "defaultUser", "save" => "saveNote"}
  %header{"user" => "defaultUser", "logout" => "headerLogout"}
