#lock-screen
  .content
    %h3.center-align Passcode Required

    %form.mt-20{"ng-submit" => "submitPasscodeForm()"}
      %input.form-control.mt-10{:type => 'password',
      "ng-model" => "formData.passcode", "autofocus" => "true",
      "placeholder" => "Enter Passcode"}
      %button.standard.ui-button.block.blue.mt-5{"type" => "submit"} Unlock
