.section.notes
  .content
    .section-title-bar#notes-title-bar
      .title {{ctrl.tag.title}} notes
      .add-button#notes-add-button{"ng-click" => "ctrl.createNewNote()"} +
      %br
      .filter-section
        %input.filter-bar{"select-on-click" => "true", "ng-model" => "ctrl.noteFilter.text", "placeholder" => "Search", "ng-change" => "ctrl.filterTextChanged()", "lowercase" => "true"}
          #search-clear-button{"ng-if" => "ctrl.noteFilter.text", "ng-click" => "ctrl.noteFilter.text = ''; ctrl.filterTextChanged()"} ✕
      %ul.section-menu-bar#tag-menu-bar
        %li{"ng-class" => "{'selected' : ctrl.showMenu}"}
          %label{"ng-click" => "ctrl.showMenu = !ctrl.showMenu"} {{ctrl.sortByTitle()}}

          %ul.dropdown-menu{"ng-if" => "ctrl.showMenu"}
            %li
              %label{"ng-click" => "ctrl.selectedMenuItem($event); ctrl.selectedSortByCreated()"}
                %span.top.mt-5.mr-5{"ng-if" => "ctrl.sortBy == 'created_at'"} ✓
                By date added
            %li
              %label{"ng-click" => "ctrl.selectedMenuItem($event); ctrl.selectedSortByUpdated()"}
                %span.top.mt-5.mr-5{"ng-if" => "ctrl.sortBy == 'updated_at'"} ✓
                By date modified
            %li
              %label{"ng-click" => "ctrl.selectedMenuItem($event); ctrl.selectedSortByTitle()"}
                %span.top.mt-5.mr-5{"ng-if" => "ctrl.sortBy == 'title'"} ✓
                By title

    .scrollable
      .infinite-scroll{"infinite-scroll" => "ctrl.paginate()", "can-load" => "true", "threshold" => "200"}
        .note{"ng-repeat" => "note in (ctrl.sortedNotes = (ctrl.tag.notes | filter: ctrl.filterNotes | sortBy: ctrl.sortBy| limitTo:ctrl.notesToDisplay))",
            "ng-click" => "ctrl.selectNote(note)", "ng-class" => "{'selected' : ctrl.selectedNote == note}"}
          %strong.red.medium{"ng-if" => "note.conflict_of"} Conflicted copy
          %strong.red.medium{"ng-if" => "note.errorDecrypting"} Error decrypting

          .pinned{"ng-if" => "note.pinned"}
            %i.icon.ion-ios-flag
            %strong.medium Pinned

          .tags-string{"ng-if" => "ctrl.tag.all"}
            .faded {{note.tagsString()}}

          .name{"ng-if" => "note.title"}
            {{note.title}}
          .note-preview
            {{note.text}}
          .date.faded
            %span{"ng-if" => "ctrl.sortBy == 'updated_at'"} Modified {{note.updatedAtString() || 'Now'}}
            %span{"ng-if" => "ctrl.sortBy == 'created_at'"} {{note.createdAtString() || 'Now'}}
