.section.notes
  .content
    .section-title-bar.notes-title-bar
      .title {{ctrl.tag.title}} notes
      .add-button{"ng-click" => "ctrl.createNewNote()"} +
      %br
      .filter-section
        %input.filter-bar{"select-on-click" => "true", "ng-model" => "ctrl.noteFilter.text", "placeholder" => "Filter", "ng-change" => "ctrl.filterTextChanged()", "lowercase" => "true"}
      .section-menu.tag-menu-bar
        %ul.nav.nav-pills
          %li.dropdown
            %a.dropdown-toggle{"ng-click" => "ctrl.showMenu = !ctrl.showMenu"}
              File
              %span.caret
              %span.sr-only

            %ul.dropdown-menu.dropdown-menu-left.nt-dropdown-menu.dark{"ng-if" => "ctrl.showMenu"}
              %li
                %a.text{"ng-click" => "ctrl.selectedMenuItem(); ctrl.selectedTagDelete()"} Delete Tag

    .note{"ng-repeat" => "note in ctrl.tag.notes | filter: ctrl.filterNotes",
        "ng-click" => "ctrl.selectNote(note)", "ng-class" => "{'selected' : ctrl.selectedNote == note}",
        "ng-attr-draggable" => "{{note.dummy ? undefined : 'true'}}", "note" => "note"}
      .name
        {{note.title}}
      .date {{(note.created_at | appDateTime) || 'Now'}}
