.section.tags
  .content
    .section-title-bar.tags-title-bar
      .title Tags
      .add-button.tag-add-button{"ng-click" => "ctrl.clickedAddNewTag()"} +
      {{ctrl.test}}

    .scrollable
      .tag{"ng-if" => "ctrl.allTag", "ng-click" => "ctrl.selectTag(ctrl.allTag)", "ng-class" => "{'selected' : ctrl.selectedTag == ctrl.allTag}"}
        .info
          %input.title{"ng-disabled" => "true", "ng-model" => "ctrl.allTag.title"}
          .count {{ctrl.noteCount(ctrl.allTag)}}
      .tag{"ng-repeat" => "tag in ctrl.tags", "ng-click" => "ctrl.selectTag(tag)", "ng-class" => "{'selected' : ctrl.selectedTag == tag}"}
        .info
          %input.title{"ng-attr-id" => "tag-{{tag.uuid}}", "ng-disabled" => "ctrl.editingTag != tag", "ng-model" => "tag.title",
          "ng-keyup" => "$event.keyCode == 13 && ctrl.saveTag($event, tag)", "mb-autofocus" => "true", "should-focus" => "ctrl.newTag || ctrl.editingTag == tag",
          "ng-change" => "ctrl.tagTitleDidChange(tag)", "ng-focus" => "ctrl.onTagTitleFocus(tag)", "ng-blur" => "ctrl.saveTag($event, tag)",
          "spellcheck" => "false"}
          .count {{ctrl.noteCount(tag)}}
        .menu{"ng-if" => "ctrl.selectedTag == tag"}
          %a.item{"ng-click" => "ctrl.selectedRenameTag($event, tag)", "ng-if" => "!ctrl.editingTag"} Rename
          %a.item{"ng-click" => "ctrl.saveTag($event, tag)", "ng-if" => "ctrl.editingTag"} Save
          %a.item{"ng-click" => "ctrl.selectedDeleteTag(tag)"} Delete
