%h3{"ng-click" => "showSection = !showSection"}
  %a Manage keys

%div{"ng-if" => "showSection"}
  %h4 Encryption Keys

  %div{"ng-if" => "showSection"}
    %p Keys are used to encrypt and decrypt your data.
    .mt-10
      %section.white-bg{"ng-repeat" => "key in keys track by key.name"}
        %label {{key.name}}
        %p.wrap {{key.key}}

      %a.block.mt-10{"ng-click" => "newKeyData.showForm = !newKeyData.showForm"} Add New Key
      %form{"ng-if" => "newKeyData.showForm"}
        %input{"ng-model" => "newKeyData.name", "placeholder" => "Name your key"}
        %input{"ng-model" => "newKeyData.key", "placeholder" => "Key"}
        %button.light{"ng-click" => "submitNewKeyForm()"} Add Key
