.completed-tasks-container {
  .task-item .checkbox-button * {
    stroke: var(--sn-stylekit-neutral-color) !important;
  }

  .task-item .text-area-input {
    color: var(--sn-stylekit-neutral-color) !important;
    text-decoration: line-through 1px solid var(--sn-stylekit-neutral-color);
  }
}
