.bg-grey-super-light {
  background-color: var(--sn-stylekit-grey-super-light);
}

.bg-inverted-default {
  background-color: var(--sn-stylekit-contrast-foreground-color);
}

.hover\:bg-grey-4:hover {
  background: var(--sn-stylekit-grey-4);
}

.focus\:bg-info:focus {
  @extend .bg-info;
}

.bg-info-backdrop {
  background-color: var(--sn-stylekit-info-backdrop-color);
}

.focus\:bg-info-backdrop:focus {
  background-color: var(--sn-stylekit-info-backdrop-color);
}

.active\:bg-info:active {
  background-color: var(--sn-stylekit-info-color);
}

.focus\:bg-default:focus {
  background-color: var(--sn-stylekit-background-color);
}

.hover\:bg-default:hover {
  background-color: var(--sn-stylekit-background-color);
}

.hover\:bg-grey-5:hover {
  background-color: var(--sn-stylekit-grey-5);
}

.bg-warning-faded {
  background-color: rgba(235, 173, 0, 0.08);
}

.bg-info-faded {
  background-color: rgba(8, 109, 214, 0.08);
}

.color-inverted-default {
  color: var(--sn-stylekit-background-color);
}

.focus\:color-info-contrast:focus {
  @extend .color-info-contrast;
}

.hover\:color-foreground:hover {
  color: var(--sn-stylekit-foreground-color) !important;
}

.color-neutral-contrast {
  color: var(--sn-stylekit-neutral-contrast-color);
}

.color-warning {
  color: var(--sn-stylekit-warning-color);
}

.active\:color-neutral-contrast:active {
  color: var(--sn-stylekit-neutral-contrast-color);
}

.color-warning-contrast {
  color: var(--warning-text-color);
}
