.sticky {
  position: sticky;
}

.top-4 {
  top: 1rem;
}

.top-30\% {
  top: 30%;
}

.top-35\% {
  top: 35%;
}

.top-40\% {
  top: 40%;
}

.top-1\/2 {
  top: 50%;
}

.top-full {
  top: 100%;
}

.-top-0\.25 {
  top: -0.0625rem;
}

.bottom-20\% {
  bottom: 20%;
}

.bottom-25\% {
  bottom: 25%;
}

.bottom-30\% {
  bottom: 30%;
}

.bottom-35\% {
  bottom: 35%;
}

.bottom-40\% {
  bottom: 40%;
}

.bottom-100\% {
  bottom: 100%;
}

.-bottom-5 {
  bottom: -1.25rem;
}

.left-2 {
  left: 0.5rem;
}

.left-1\/2 {
  left: 50%;
}

.-left-10 {
  left: -2.5rem;
}

.-left-28 {
  left: -7rem;
}

.-left-16 {
  left: -4rem;
}

.-left-40 {
  left: -10rem;
}

.-left-56 {
  left: -14rem;
}

.right-0 {
  right: 0;
}

.right-2 {
  right: 0.5rem;
}

.right-4 {
  right: 1rem;
}

.-right-2 {
  right: -0.5rem;
}

.-right-10 {
  right: -2.5rem;
}

.-right-20 {
  right: -5rem;
}

.-right-24 {
  right: -6rem;
}

.-right-44 {
  right: -11rem;
}

.-right-56 {
  right: -14rem;
}

.translate-x-1\/2 {
  transform: translateX(50%);
}

.-translate-1\/2 {
  transform: translate(-50%, -50%);
}

.-translate-x-1\/2 {
  transform: translateX(-50%);
}

.-translate-y-1\/2 {
  transform: translateY(-50%);
}