#navigation.section,
.section.tags, // legacy code pre-smart tags release
navigation {
  flex: none !important;
  width: 190px !important;
  transition: width 0.25s;
}

#navigation.section:hover,
.section.tags:hover, // legacy code pre-smart tags release
navigation:hover {
  flex: initial;
  width: 250px !important;
  transition: width 0.25s;
}

.section.notes,
notes-view {
  flex: none !important;
  width: 270px !important;
  transition: width 0.25s;
}

.section.notes:hover,
notes-view:hover {
  flex: initial;
  width: 420px !important;
  transition: width 0.25s;
}
