@import '~@standardnotes/stylekit/dist/stylekit.css';

body,
html {
  background-color: var(--sn-stylekit-secondary-background-color);
  padding: 0 !important;
}

* {
  // To prevent gray flash when focusing input on mobile Safari
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-family: var(--sn-stylekit-sans-serif-font);
}

.sn-component {
  display: flex;
  flex-direction: column;

  @media screen and (max-width: 420px) {
    min-height: -webkit-fill-available;
  }

  .ml-3 {
    margin-left: 0.75rem;
  }

  .mr-3 {
    margin-right: 0.75rem;
  }

  .sn-icon.small {
    height: 0.875rem;
    width: 0.875rem;
  }

  .no-fill {
    fill: none;
  }

  .stroke-info-color {
    stroke: var(--sn-stylekit-info-color);
  }

  .stroke-neutral-color {
    stroke: var(--sn-stylekit-neutral-color);
  }

  .fill-info-color {
    fill: var(--sn-stylekit-info-color);
  }

  .sn-icon-button {
    border-width: 0;

    &:hover {
      background-color: inherit;
      border-width: 1px;
    }

    &.small {
      height: 1.25rem;
      min-width: 1.25rem;
      width: 1.25rem;
    }
  }

  .pt-1px {
    padding-top: 1px;
  }
}

:root {
  --reach-menu-button: 1;
}

reach-portal {
  @import '~@standardnotes/stylekit/src/css/utils';
  @import '~@standardnotes/stylekit/src/css/sn';

  div[data-reach-menu-list] {
    @extend .bg-default;
    @extend .border-main;
    @extend .rounded;
    @extend .box-shadow;
    @extend .min-w-55;
    @extend .mt-2;
    @extend .focus\:outline-none;
    @extend .origin-top-right;
    @extend .py-2;
    @extend .slide-down-animation;
    @extend .color-text;
    @extend .w-auto;
  }

  div[data-reach-menu-item] {
    @extend .items-center;
    @extend .cursor-pointer;
    @extend .flex;
    @extend .hover\:bg-highlight;
    @extend .focus\:outline-none;
    @extend .focus\:shadow-none;
    @extend .px-2;
    @extend .selected\:bg-color;
    @extend .selected\:fg-color;
    @extend .m-h-32;
  }

  div[data-reach-menu-item] > .sn-icon {
    @extend .mr-2;
  }

  div[data-selected][data-reach-menu-item] {
    background-color: var(--sn-stylekit-contrast-background-color);
  }

  div[data-reach-dialog-overlay] {
    align-items: center;
    background: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: unset;
    z-index: 1001;
  }

  div[data-reach-dialog-overlay]::before {
    background-color: var(--sn-stylekit-contrast-background-color);
    bottom: 0px;
    content: '';
    left: 0px;
    opacity: 0.75;
    position: fixed;
    right: 0px;
    top: 0px;
  }

  div[data-reach-dialog-content] {
    background: none;
    flex-basis: 0;
    margin: 0;
    max-width: 600px;
    min-width: 400px;
    overflow: unset;
    padding: 0;
    position: relative;
    width: auto;
  }

  div[data-reach-dialog-content] .sk-modal-content,
  div[data-reach-dialog-content] .sn-component,
  div[data-reach-dialog-content] .sk-panel {
    height: 100%;
  }

  div[data-reach-alert-dialog-content] {
    width: auto;
  }

  fieldset {
    border: 0;
    padding-left: 0;
  }
}
