body,
html {
  font-family: sans-serif;
  font-size: var(--sn-stylekit-base-font-size);
  height: 100%;
  margin: 0;
  background-color: transparent;
}

* {
  // To prevent gray flash when focusing input on mobile Safari
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

#wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
  overflow: hidden;
  // padding-right: 20px;
}

.CodeMirror-scroll {
  padding: 8px;
}

.CodeMirror {
  background-color: var(--sn-stylekit-editor-background-color) !important;
  color: var(--sn-stylekit-editor-foreground-color) !important;
  border: 0 !important;
  font-family: sans-serif;

  -webkit-overflow-scrolling: touch;

  flex: 1 1 auto;
  height: 100%;
  resize: none;
  font-size: var(--sn-stylekit-font-size-editor);
  padding: 0;

  .CodeMirror-code .cm-comment {
    background: var(--sn-stylekit-contrast-background-color);
    color: var(--sn-stylekit-info-color);
    font-family: Consolas, monaco, "Ubuntu Mono", courier, monospace !important;
    font-size: 90%; // font-family makes font look a bit big

    &.CodeMirror-selectedtext {
      color: var(--sn-stylekit-info-contrast-color) !important;
      background: var(--sn-stylekit-info-color) !important;
    }
  }

  .cm-header {
    color: var(--sn-stylekit-editor-foreground-color);

    &.CodeMirror-selectedtext {
      color: var(--sn-stylekit-info-contrast-color) !important;
      background: var(--sn-stylekit-info-color) !important;
    }
  }

  // Faded Markdown syntax
  .cm-formatting-header,
  .cm-formatting-strong,
  .cm-formatting-em {
    opacity: 0.2;
  }

  .cm-variable-2, .cm-variable-3 {
    color: var(--sn-stylekit-editor-foreground-color) !important;

    &.CodeMirror-selectedtext {
      color: var(--sn-stylekit-info-contrast-color) !important;
      background: transparent;
    }
  }
  .cm-variable-3 {
    color: var(--sn-stylekit-editor-foreground-color) !important;

    &.CodeMirror-selectedtext {
      color: var(--sn-stylekit-info-contrast-color) !important;
      background: transparent;
    }
  }

  .cm-link,
  .cm-string {
    color: var(--sn-stylekit-info-color) !important;

    &.CodeMirror-selectedtext {
      color: var(--sn-stylekit-info-contrast-color) !important;
      background: var(--sn-stylekit-info-color) !important;
    }
  }

  .CodeMirror-linenumber {
    color: gray !important;
  }
}

.CodeMirror-cursor {
  border-color: var(--sn-stylekit-editor-foreground-color);
}

.CodeMirror-selected {
  background: var(--sn-stylekit-info-color) !important;
}

.CodeMirror-selectedtext {
  color: var(--sn-stylekit-info-contrast-color) !important;
  background: var(--sn-stylekit-info-color) !important;
}

.CodeMirror-gutters {
  background-color: var(--sn-stylekit-background-color) !important;
  color: var(--sn-stylekit-editor-foreground-color) !important;
  border-color: var(--sn-stylekit-border-color) !important;
}

.cm-header-1 {
  font-size: 150%;
}
.cm-header-2 {
  font-size: 130%;
}
.cm-header-3 {
  font-size: 120%;
}
.cm-header-4 {
  font-size: 110%;
}
.cm-header-5 {
  font-size: 100%;
}
.cm-header-6 {
  font-size: 90%;
}

.CodeMirror .cm-quote {
  color: var(--sn-stylekit-foreground-color);
  opacity: 0.6;
}

.cm-s-default .cm-variable-3, .cm-s-default .cm-type {
  color: var(--sn-stylekit-success-color) !important;
}

.CodeMirror .cm-link, .CodeMirror .cm-string, .CodeMirror .cm-keyword {
  color: var(--sn-stylekit-info-color);
}
