.nt-dropdown-menu {
  border-radius: 0;
  padding: 0 0;
  margin-top: 15px;
  border: none;
  width: 280px;

  li {
    height: 35px;
    overflow: hidden;
    // padding-top: 2px;

    .text {
      padding: 10px;
      padding-top: 7px;
      height: 100%;
      height: 100%;
      float: left;
    }

    .shortcut {
      float: right;
      font-size: 12px;
      font-weight: normal;
      opacity: 0.5;
      margin-top: 10px;
      padding-right: 10px;
    }
  }
}

.nt-dropdown-menu.dark {
  background-color: white;
  color: $selected-text-color;

  li {
    &:hover {
      background-color: #f5f5f5;
      color: black;
    }
    a {
      height: 100%;
      font-weight: bold;
    }
    .text {
      color: $selected-text-color;
    }
  }
}

.nt-dropdown-menu.light {
  background-color: white;
  color: black;

  li {
    &:hover {
      background-color: $dark-gray;
      color: white;
      a {
        color: white;
      }
    }
    a {
      color: black;
    }
    .text {
      color: black;
    }
  }
}
