.dropdown-menu.contextual-menu {
  .extension {

    &:not(:first-child) {
      margin-top: 18px;
    }


    .ext-header {
      background-color: #ededed;
      border-bottom: 1px solid #d3d3d3;
      padding-top: 12px;
      padding-left: 10px;
      padding-bottom: 10px;
      position: relative;

      > .name {
        font-size: 14px;
      }

      > .access {
        font-size: 12px;
        opacity: 0.5;
        font-weight: normal;
        margin-top: 2px;
      }

      > .loading {
        position: absolute;
        height: 15px;
        width: 15px;
        right: 10px;
        top: 20px;
      }
    }

    ul {
      margin-top: 0px;
      margin-bottom: 0px;
      list-style:none;
      padding-left:0;

      li {
        cursor: pointer;
        height: auto;

        &.action {
          padding: 10px;
          border-bottom: 1px solid rgba(black, 0.1);
          background-color: rgba(white, 0.9);

          &:hover {
            background-color: rgba(gray, 0.05);
          }

          > .name {
            font-weight: bold;
            font-size: 14px;
          }

          > .desc {
            font-weight: normal;
            opacity: 0.5;
            margin-top: 1px;
            font-size: 12px;
          }
        }
      }
    }
  }
}


/**
Extensions
*/

.extensions-panel {
  font-size: 14px;

  .extension-link {
    margin-top: 8px;

    a {
      color: $blue-color !important;
      font-weight: bold;
    }
  }
}

.extension-form {
  margin-top: 8px;
}

.registered-extensions {

  .extension {
    margin-bottom: 18px;
    background-color: #f6f6f6;
    border: 1px solid #f2f2f2;
    padding: 14px 6px;
    padding-bottom: 8px;
    color: black;

    .ek-input-wrapper {
      text-align: center;
      margin-top: 14px;
      height: 30px;

      > input {
        height: 100%;
        border: 1px solid rgba(gray, 0.15);
        padding: 5px;
        width: 78%;
        margin-right: 0;
      }

      > button {
        width: 20% !important;
        height: 100% !important;
        display: inline-block !important;
        margin: 0 !important;
      }
    }

    a.option-link {
      margin-top: 6px;
      display: block;
      text-align: center;
    }

    .show-ek {
      > .ek {
        font-weight: bold;
        margin-top: 2px;
      }

      > .disclaimer {
        margin-top: 2px;
        font-size: 10px;
        font-style: italic;
        width: 60%;
        margin-left: auto;
        margin-right: auto;
      }
    }

    a {
      color: $blue-color !important;
      font-size: 12px !important;
      font-weight: bold !important;
    }

    .extension-name {
      font-weight: bold;
      font-size: 16px;
      margin-bottom: 6px;
      text-align: center;
    }

    .encryption-format {
      margin-top: 4px;
      font-size: 12px;
      text-align: center;

      > .title {
        font-size: 13px;
        // font-weight: bold;
        margin-bottom: 2px;
      }
    }

    .extension-subtitle {
      font-size: 14px;
      margin-bottom: 10px;
    }

    .extension-actions {
      margin-top: 15px;
      font-size: 12px;

      .action {
        padding: 13px;
        margin-bottom: 10px;
        background-color: rgba(white, 0.9);
        border: 1px solid rgba(gray, 0.15);

       .action-name {
          font-weight: bold;
        }

        .action-permissions {
          margin-top: 2px;
          a {
            font-weight: normal !important;
          }
        }

        > .execute-type {
          font-size: 12px;
          margin-bottom: 1px;
        }

        > .error {
          color: red;
          margin-top: 6px;
        }

        > .last-run {
          opacity: 0.5;
          font-size: 11px;
          margin-top: 6px;
        }
      }

    }
  }
}

.account-data-menu {
  padding: 5px !important;

  .providers {
    font-size: 12px;

    .provider {
      background-color: #f6f6f6;
      border: 1px solid #f2f2f2;
      padding: 10px 10px;
      padding-bottom: 8px;
      margin-bottom: 10px;

      > .type {
        font-weight: bold;
      }

      > .url {
        // white-space: nowrap;
        // text-overflow: ellipsis;
        // overflow: hidden;
        word-wrap: break-word;
        margin-top: 4px;
      }

      > .options {
        margin-top: 10px;
      }
    }
  }
}

.account-keys-section {
  .keys {
    .key {
      background-color: #f6f6f6;
      border: 1px solid #f2f2f2;
      padding: 10px 10px;
      padding-bottom: 8px;

      > .name {
        font-size: 13px;
        font-weight: bold;
        margin-bottom: 2px;
      }

      > .value {
        word-wrap: break-word;
      }
    }
  }
}
