.extension-render-modal {
  position: fixed;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 10000;
  width: 100vw;
  height: 100vh;
  background-color: rgba(gray, 0.3);

  .content {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-color: white;
    width: 700px;
    height: 500px;
    margin: auto;
    padding: 25px;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    overflow-y: scroll;
  }
}

.dropdown-menu.contextual-menu {
  overflow-y: scroll;
  max-height: 85vh;

  .extension {

    &:not(:first-child) {
      margin-top: 18px;
    }

    .ext-header {
      background-color: #ededed;
      border-bottom: 1px solid #d3d3d3;
      padding-top: 12px;
      padding-left: 10px;
      padding-bottom: 10px;
      position: relative;

      > .name {
        font-size: 14px;
      }

      > .access {
        font-size: 12px;
        opacity: 0.5;
        font-weight: normal;
        margin-top: 2px;
      }

      > .loading {
        position: absolute;
        height: 15px;
        width: 15px;
        right: 10px;
        top: 20px;
      }
    }

    ul {
      margin-top: 0px;
      margin-bottom: 0px;
      list-style:none;
      padding-left:0;

      li {
        cursor: pointer;
        height: auto;

        &.action {
          padding: 10px;
          border-bottom: 1px solid rgba(black, 0.1);
          background-color: rgba(white, 0.9);

          &:hover {
            background-color: rgba(gray, 0.05);
          }

          > .name {
            font-weight: bold;
            font-size: 14px;
          }

          > .desc {
            font-weight: normal;
            opacity: 0.5;
            margin-top: 1px;
            font-size: 12px;
          }
        }
      }
    }
  }
}
