$heading-height: 75px;
.editor {
  flex: 1 50%;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  background-color: white;

  &.fullscreen {
    width: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 200;
    padding: 0;
  }

  .section-menu-bar {
    flex: 1 0 28px;
    max-height: 28px;
  }
}

#editor-title-bar {
  width: 100%;
  padding: 20px;
  padding-bottom: 10px;
  background-color: white;
  border-bottom: none;
  z-index: 100;

  height: auto;
  padding-right: 10px;
  overflow: visible;

  &.fullscreen {
    position: relative;
  }

  > .title {
    font-size: 18px;
    font-weight: bold;
    padding-top: 0px;
    width: 100%;
    padding-right: 120px; /* make room for save status */

    > .input {
      float: left;
      text-overflow:ellipsis;
      width: 100%;
      font-weight: bold;
      border: none;
      outline: none;
      background-color: transparent;

      &:disabled {
        color: black;
      }
    }

  }

  #save-status {
    width: 20%;
    float: right;
    position: absolute;

    right: 20px;
    font-size: 12px;
    text-transform: none;
    font-weight: normal;
    margin-top: 4px;
    text-align: right;
    color: rgba(black, 0.23);
  }

  .editor-tags {
    clear: left;
    width: 100%;
    // height: 25px;
    overflow: visible;
    position: relative;

    #note-tags-component-container {
      height: 50px;
      #note-tags-iframe {
        height: 50px;
        width: 100%;
        position: absolute;
      }
    }


    .tags-input {
      background-color: transparent;
      width: 100%;
      border: none;
    }
  }
}

.editor-content {
  flex: 1;
  z-index: 10;
  overflow-y: hidden;
  height: 100%;
  display: flex;
  background-color: white;

  &.fullscreen {
    padding-top: 0px;
  }

  #editor-iframe {
    flex: 1;
    width: 100%;
  }

  .editable {
    font-family: monospace;
    flex: 1;
    overflow-y: scroll;
    width: 100%;

    border: none;
    outline: none;
    padding: 15px;
    padding-top: 11px;
    font-size: 17px;
    resize: none;

    &.fullscreen {
      padding: 85px 10%;
      max-width: 1200px;
      display: inline-block;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

#editor-pane-component-stack {
  width: 100%;

  .component {
    height: 50px;
    width: 100%;
    position: relative;
    &:not(:last-child) {
      border-bottom: 1px solid $bg-color;
    }

    &:first-child {
      border-top: 1px solid $bg-color;
    }

    .exit-button {
      width: 15px;
      height: 100%;
      position: absolute;
      right: 0;
      background-color: transparent;
      cursor: pointer;
      display: flex;
      align-items: center;
      color: rgba(black, 0.7);
      text-align: center;
      padding-left: 2px;

      .content {

      }

      &:hover {
        background-color: rgba(gray, 0.3);
      }
    }

    iframe {
      width: 100%;
    }
  }
}
