$heading-height: 75px;
.editor {
  flex: 1 50%;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  background-color: white;
}

.locked {
  opacity: 0.8;
}

#editor-title-bar {
  width: 100%;

  padding-top: 14px;
  padding-left: 14px;
  padding-bottom: 10px;
  padding-right: 10px;

  background-color: white;
  border-bottom: none;
  z-index: 100;

  height: auto;
  overflow: visible;

  > .title {
    font-size: 18px;
    font-weight: bold;
    padding-top: 0px;
    width: 100%;
    padding-right: 120px; /* make room for save status */

    > .input {
      float: left;
      text-overflow:ellipsis;
      width: 100%;
      font-weight: bold;
      border: none;
      outline: none;
      background-color: transparent;

      &:disabled {
        color: black;
      }
    }

  }

  #save-status {
    width: 20%;
    float: right;
    position: absolute;

    right: 20px;
    font-size: 12px;
    text-transform: none;
    font-weight: normal;
    margin-top: 4px;
    text-align: right;
    color: rgba(black, 0.23);

    .error {
      color: #f6a200;
    }
  }

  .editor-tags {
    clear: left;
    width: 100%;
    // height: 25px;
    overflow: visible;
    position: relative;

    #note-tags-component-container {
      height: 50px;
      overflow: auto; // Required for expired sub to not overflow

      iframe {
        height: 50px;
        width: 100%;
        position: absolute;
      }
    }


    .tags-input {
      background-color: transparent;
      width: 100%;
      border: none;
    }
  }
}

.editor-content, #editor-content {
  flex: 1;
  z-index: 10;
  overflow-y: hidden;
  height: 100%;
  display: flex;
  background-color: white;

  position: relative;

  #editor-iframe {
    flex: 1;
    width: 100%;
  }

  .editable {
    font-family: monospace;
    overflow-y: scroll;
    width: 100%;

    border: none;
    outline: none;
    padding: 15px;
    padding-top: 11px;
    font-size: 17px;
    resize: none;
  }
}

#editor-pane-component-stack {
  width: 100%;

  .component-stack-item {
    width: 100%;
    position: relative;
    border-top: 1px solid $bg-color;
    iframe {
      width: 100%;
    }
  }
}
