.editor {
  width: 60%;

  &.fullscreen {
    width: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 200;
    padding: 0;
  }

  .section-title-bar {
    border-bottom: none !important;

    &.fullscreen {
      opacity: 0.0;
      -webkit-transition: all 300ms ease-in-out;
      -moz-transition: all 300ms ease-in-out;
      -ms-transition: all 300ms ease-in-out;
      -o-transition: all 300ms ease-in-out;
      transition: all 300ms ease-in-out;

      &:hover {
        opacity: 1.0;
      }

      // z-index: -1;
    }
  }

  $heading-height: 100px;

  .editor-heading {

    position: absolute;
    width: 100%;
    padding: 15px;
    padding-top: 0px;
    background-color: white;

    min-height: $heading-height;

    width: 100%;
    padding-right: 10px;

    > .title {
      font-size: 18px;
      font-weight: bold;
      padding-top: 0px;
      width: 100%;

      > .input {
        float: left;
        text-overflow:ellipsis;
        width: 90%;
        font-weight: bold;
        border: none;
        outline: none;
        background-color: transparent;

        &:disabled {
          color: black;
        }
      }

    }
    .save-status {
      width: 20% !important;
      float: right;
      position: absolute;

      right: 20px;
      font-size: 12px;
      text-transform: none;
      font-weight: normal;
      margin-top: 4px;
      width: 120px;
      text-align: right;
      color: rgba(black, 0.23);
    }

    .tags {
      clear: left;
      width: 100%;
      height: 25px;

      .tags-input {
        background-color: transparent;
        width: 100%;
        border: none;
      }
    }
  }

  .fullscreen-ghost-bar {

    position: absolute;
    width: 20%;
    height: 200px;
    z-index: 100;
  }


  .editor-content {
    max-height: 100%;

    height: 100%;
    clear: both;
    min-width: 0;
    padding-left: 10px;
    padding-right: 10px;
    overflow: auto;
    text-align: center; // centers children div horizontally
    z-index: 10;
    padding-top: $heading-height;

    &.fullscreen {
      padding-top: 0px;
    }

    .sampler-container {
      margin-top: 10px;
      padding: 15px;
      padding-top: 17px;
      font-size: 17px;
      // opacity: 0.5;
    }

    .sampler {
      // opacity: 0.5;
      color: rgba(black, 0.3);
    }

    .editable {
      font-family: monospace;
      max-height: 100%;
      height: 100%;
      width: 100%;
      border: none;
      outline: none;
      padding: 15px;
      padding-top: 17px;
      font-size: 17px;
      resize: none;

      &.fullscreen {
        padding: 85px 10%;
        max-width: 1200px;
        display: inline-block;;
      }
    }

    .preview {
      // font-family: monospace;
      max-height: 100%;
      height: 100%;
      line-height: 23px;
      overflow-y: scroll;
      padding: 0px 15px;
      text-align: left;

      &.fullscreen {
        padding: 85px 10%;
        max-width: 1200px;
        display: inline-block;;
      }
    }
  }
}


.markdown {
  margin-left: 15px;
  float: right;
  text-align: right;
  right: 0;
}

.full-screen-button {
  cursor: pointer;
  position: absolute;
  top: 25px;
  right: 20px;
  z-index: 100;
}


ol {
    list-style-type: decimal;
    list-style-position: inside;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
}



.nav-tabs {
  a {
      color: black;
      text-decoration: none;
  }
  a {
      background-color: transparent;
  }
}
.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.nav-pills>li {
    float: left;
}
.nav>li {
    position: relative;
    display: block;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: #fff;
    background-color: #337ab7;
}
.nav-pills>li>a {
    border-radius: 4px;
}
.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 15px;
}

.nav-tabs>li {
    float: left;
    margin-bottom: -1px;
}
.nav>li {
    position: relative;
    display: block;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: black;
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
}
.nav-tabs>li>a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    // border-radius: 4px 4px 0 0;
    cursor: pointer;
}
.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 15px;
}
