$heading-height: 75px;
.editor {
  flex: 1 50%;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;

  &.fullscreen {
    width: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 200;
    padding: 0;
  }

  .section-title-bar {
    border-bottom: none !important;
    height: $heading-height !important;
  }

  .section-menu {
    flex: 1 0 28px;
    max-height: 28px;
  }
}

.editor-heading {

  width: 100%;
  padding: 15px;
  padding-top: 0px;
  background-color: white;

  min-height: $heading-height;

  padding-right: 10px;

  &.fullscreen {
    position: relative;
  }

  > .title {
    font-size: 18px;
    font-weight: bold;
    padding-top: 0px;
    width: 100%;

    > .input {
      float: left;
      text-overflow:ellipsis;
      width: 90%;
      font-weight: bold;
      border: none;
      outline: none;
      background-color: transparent;

      &:disabled {
        color: black;
      }
    }

  }

  .save-status {
    width: 20% !important;
    float: right;
    position: absolute;

    right: 20px;
    font-size: 12px;
    text-transform: none;
    font-weight: normal;
    margin-top: 4px;
    width: 120px;
    text-align: right;
    color: rgba(black, 0.23);
  }

  .tags {
    clear: left;
    width: 100%;
    height: 25px;

    .tags-input {
      background-color: transparent;
      width: 100%;
      border: none;
    }
  }
}

.editor-content {
  flex: 1;
  z-index: 10;
  overflow-y: hidden;
  height: 100%;
  background-color: white;

  &.fullscreen {
    padding-top: 0px;
  }

  #editor-iframe {
    max-height: 100%;
    height: 100%;
    width: 100%;
  }

  .editable {
    font-family: monospace;
    max-height: 100%;
    overflow-y: scroll;
    height: 100%;
    width: 100%;

    border: none;
    outline: none;
    padding: 15px;
    padding-top: 11px;
    font-size: 17px;
    resize: none;

    &.fullscreen {
      padding: 85px 10%;
      max-width: 1200px;
      display: inline-block;
    }
  }
}

.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.nav>li>a {
    position: relative;
    display: block;
}
