.extension-render-modal {
  position: fixed;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 10000;
  width: 100vw;
  height: 100vh;
  background-color: rgba(gray, 0.3);
  color: black;

  .content {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-color: white;
    width: 700px;
    height: 500px;
    margin: auto;
    padding: 25px;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    overflow-y: scroll;
  }
}

#global-ext-menu {
  color: black;
  .panel-body {
    padding: 0;
  }

  .container {
    padding: 13px 18px;

    &.no-bottom {
      padding-bottom: 0;
    }
  }

  p {
    font-size: 14px;

    &.small {
      font-size: 12px;
    }
  }

  .link-group {
    a {
      margin-right: 2px;
    }
  }

  .dashboard-link {
    padding-top: 12px;
    font-weight: normal;
  }

  .section-margin {
    margin-top: 20px;
  }

  input {
    border: 1px solid $blue-color;
    border-radius: 2px;
  }

  ul {
    border-top: 1px solid $light-bg-color;
    border-bottom: 1px solid $light-bg-color;
    margin: 0;
    padding: 0;
    margin-top: 12px;

    li {
      cursor: pointer;
      background-color: rgba($light-bg-color, 0.2);
      &:hover {
        background-color: rgba($light-bg-color, 0.4);
      }
      &:not(:last-child) {
        border-bottom: 1px solid $light-bg-color;
      }
    }
  }

}

ul {
  margin: 0;
  padding: 0;
}
