@font-face {
    font-family: ProximaNova;
    src: font-url('ProximaNova/ProximaNova-Regular.eot');
    src: local('☺'),
    font-url('ProximaNova/ProximaNova-Regular.woff') format('woff'),
    font-url('ProximaNova/ProximaNova-Regular.ttf') format('truetype'),
    font-url('ProximaNova/ProximaNova-Regular.svg') format('svg');
}

@font-face {
    font-family: ProximaNova;
    font-style: italic;
    src: font-url('ProximaNova/ProximaNova-Regular-Italic.eot');
    src: local('☺'),
    font-url('ProximaNova/ProximaNova-Regular-Italic.woff') format('woff'),
    font-url('ProximaNova/ProximaNova-Regular-Italic.ttf') format('truetype'),
    font-url('ProximaNova/ProximaNova-Regular-Italic.svg') format('svg');
}

@font-face {
    font-family: ProximaNova;
    font-weight: 600;
    src: font-url('ProximaNova/ProximaNova-Semibold.eot');
    src: local('☺'),
    font-url('ProximaNova/ProximaNova-Semibold.woff') format('woff'),
    font-url('ProximaNova/ProximaNova-Semibold.ttf') format('truetype'),
    font-url('ProximaNova/ProximaNova-Semibold.svg') format('svg');
}

@font-face {
    font-family: ProximaNova;
    font-weight: 600;
    font-style: italic;
    src: font-url('ProximaNova/ProximaNova-Semibold-Italic.eot');
    src: local('☺'),
    font-url('ProximaNova/ProximaNova-Semibold-Italic.woff') format('woff'),
    font-url('ProximaNova/ProximaNova-Semibold-Italic.ttf') format('truetype'),
    font-url('ProximaNova/ProximaNova-Semibold-Italic.svg') format('svg');
}

@font-face {
    font-family: ProximaNova;
    font-weight: bold;
    src: font-url('ProximaNova/ProximaNova-Bold.eot');
    src: local('☺'),
    font-url('ProximaNova/ProximaNova-Bold.woff') format('woff'),
    font-url('ProximaNova/ProximaNova-Bold.ttf') format('truetype'),
    font-url('ProximaNova/ProximaNova-Bold.svg') format('svg');
}

@font-face {
    font-family: ProximaNova;
    font-weight: bold;
    font-style: italic;
    src: font-url('ProximaNova/ProximaNova-Bold-Italic.eot');
    src: local('☺'),
    font-url('ProximaNova/ProximaNova-Bold-Italic.woff') format('woff'),
    font-url('ProximaNova/ProximaNova-Bold-Italic.ttf') format('truetype'),
    font-url('ProximaNova/ProximaNova-Bold-Italic.svg') format('svg');
}


@font-face {
    font-family: ProximaNova;
    font-weight: 100;
    src: font-url('fonts/ProximaNova-Thin.eot');
    src: local('☺'),
    font-url('ProximaNova/ProximaNova-Thin.woff') format('woff'),
    font-url('ProximaNova/ProximaNova-Thin.ttf') format('truetype'),
    font-url('ProximaNova/ProximaNova-Thin.svg') format('svg');
}

@font-face {
    font-family: ProximaNova;
    font-weight: 100;
    font-style: italic;
    src: font-url('fonts/ProximaNova-Thin-Italic.eot');
    src: local('☺'),
    font-url('ProximaNova/ProximaNova-Thin-Italic.woff') format('woff'),
    font-url('ProximaNova/ProximaNova-Thin-Italic.ttf') format('truetype'),
    font-url('ProximaNova/ProximaNova-Thin-Italic.svg') format('svg');
}

@font-face {
    font-family: ProximaNova;
    font-weight: 900;
    src: font-url('ProximaNova/ProximaNova-Extrabold.eot');
    src: local('☺'),
    font-url('ProximaNova/ProximaNova-Extrabold.woff') format('woff'),
    font-url('ProximaNova/ProximaNova-Extrabold.ttf') format('truetype'),
    font-url('ProximaNova/ProximaNova-Extrabold.svg') format('svg');
}
