#footer-bar {
  position: relative;
  width: 100%;
  height: $footer-height;
  max-height: $footer-height;
  z-index: $z-index-footer-bar;
}

#footer-bar .sk-app-bar-item {
  z-index: $z-index-footer-bar-item;
  position: relative;
  user-select: none;

  .sk-panel {
    max-height: 85vh;
    position: absolute;
    right: 0px;
    left: 10px;
    bottom: 40px;
    min-width: 300px;
    z-index: $z-index-footer-bar-item-panel;
    margin-top: 15px;
  }

  &.dock-shortcut:hover .sk-app-bar-item-column {
    border-bottom: 2px solid var(--sn-stylekit-info-color);
  }

  svg {
    width: 12px;
    height: 12px;
    fill: var(--sn-stylekit-foreground-color);

    &:hover {
      fill: var(--sn-stylekit-info-color);
    }
  }
}

#account-panel {
  width: 400px;
}

.sk-panel {
  cursor: default;
}

a.disabled {
  pointer-events: none;
}

#lock-item {
  margin-left: 3px;
}

#footer-lock-icon {
  margin-left: 5px;
  padding-left: 5px;
}
