#footer-bar {
  position: relative;
  width: 100%;
  height: $footer-height;
  max-height: $footer-height;
  z-index: 100;
}

#footer-bar .item {
  z-index: 1000;
  position: relative;
  user-select: none;

  .panel {
    max-height: 85vh;
    position: absolute;
    right: 0px;
    left: 10px;
    bottom: 40px;
    min-width: 300px;
    z-index: 1000;
    margin-top: 15px;
    background-color: white;
  }

}

#account-panel {
  width: 400px;
}

.panel {
  cursor: default;
}

a.disabled {
  pointer-events: none;
}

#lock-item {
  margin-left: 3px;
}

#footer-lock-icon {
  margin-left: 5px;
  padding-left: 8px;
  border-left: 1px solid gray;
}
