.header {
  position: relative;
  width: 100%;
  background-color: #d8d7d9;
  height: $header-height;
  max-height: $header-height;
  z-index: 100;
  font-size: 10px;
  color: $dark-gray;
  border-bottom: 1px solid rgba(#979799, 0.4);

  a {
    color: $dark-gray;
  }
}

.header-content {
  margin-bottom: 0px;
  padding-top: 0px;
  border-radius: 0px;

  left: 0px;
  right: 0px;
}

.panel-status-text {
  margin-top: 20px;
  font-style: italic;
  font-size: 14px;
}

.menu {
  margin-left: 15px;
  padding-top: 5px;
  margin-top: 0px;
  color: #515263;
  z-index: 1000;
  margin-bottom: 0px;
  font-size: 11px;

  &.left {
    float: left;
  }

  &.right {
    float: right;
    margin-right: 10px;
  }

 .login-panel .login-input {
   border-radius: 0px;
 }

 .items {

   .item {

     display: inline-block;
     margin-right: 7px;
     position: relative;
     cursor: pointer;
     font-weight: bold;

     a {
       color: #515263;
     }

     .panel {
       position: absolute;
       right: 0px;
       bottom: 20px;
       min-width: 300px;
       z-index: 1000;
       margin-top: 15px;
       box-shadow: 0px 0px 15px rgba(black, 0.2);
       border: none;
       cursor: default;
       max-height: 85vh;
       overflow: auto;
       background-color: white;
       font-weight: normal;


       .storage-text {
         font-size: 14px;
       }

       .checkbox {
         font-size: 14px;
         font-weight: normal;
         margin-left: auto;
         margin-right: auto;
       }
     }
   }
 }
}

.half-button {
  $spacing: 2px;
  width: calc(50% - #{$spacing});
  margin-left: $spacing/2.0;
  margin-right: $spacing/2.0;
  float: left;
}

.item.last-refreshed {
  font-weight: normal !important;
  cursor: default !important;
}

.item.account {

  .email {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 2px;
  }

  .server {
    margin-bottom: 10px;
  }

  .links {
    margin-bottom: 25px;
  }

  .link-item {
    margin-bottom: 8px;
    a {
      font-size: 12px;
      color: #00228f;
      font-weight: bold;
    }
  }

  input {
    border-radius: 0px;
  }

  .account-panel {

    padding: 12px;
    padding-bottom: 6px;

    .account-items {
      margin-top: 0px;
    }

    .account-item {
      width: 100%;
      margin-bottom: 34px;

      a {
        color: #00228f;
        font-weight: bold;
        cursor: pointer;
      }

      > .icon-container {
        display: block;
        margin-bottom: 10px;
      }

      > .meta-container {
        display: block;
        font-size: 10px;
      }

      > .action-container {
          font-size: 12px;
          margin-top: 6px;

          .status-title {
            font-weight: bold;
          }

          .subtext {
            font-size: 10px;
            margin-top: 2px;
          }

          a {
            display: block;
            margin-bottom: -10px;
          }
      }

      .encryption-confirmation {
        position: relative;
        .buttons {
          .cancel {
            font-weight: normal;
            margin-right: 3px;
          }
        }
      }

      &:last-child {
        margin-bottom: 8px !important;
      }

      > .icon-container {
        margin-bottom: 10px;
        .icon {
          height: 35px;
          &.archive {
            height: 30px;
          }
        }
      }

      .meta-container {
        > .title {
          font-size: 13px;
          font-weight: bold;
        }

        > .desc {
          font-size: 12px;
          margin-top: 3px;
        }
      }
    }

    .membership-settings {
      font-size: 14px;
    }

  }
}

a.disabled {
  pointer-events: none;
}

.account-form {
  margin-top: 10px;
}

.registration-login {

    .login-forgot {
      margin-top: 20px;
      clear: both;
      a {
        display: block;
        font-size: 13px !important;
        text-align: center;
      }
    }
}

.spinner {
  height: 10px;
  width: 10px;
  animation: rotate 0.8s infinite linear;
  border: 1px solid #515263;
  border-right-color: transparent;
  border-radius: 50%;
}

@keyframes rotate {
  0%    { transform: rotate(0deg); }
  100%  { transform: rotate(360deg); }
}

/**
Extensions
*/

.extensions-panel {
  font-size: 14px;

  .extension-link {
    margin-top: 8px;

    a {
      color: $blue-color !important;
      font-weight: bold;
    }
  }
}

.extension-form {
  margin-top: 8px;
}

.registered-extensions {


  .extension {
    margin-bottom: 18px;
    background-color: #f6f6f6;
    border: 1px solid #f2f2f2;
    padding: 14px 6px;
    padding-bottom: 8px;
    color: black;

    a {
      color: $blue-color !important;
      font-size: 12px !important;
      font-weight: bold !important;
    }

    > .name {
      font-weight: bold;
      font-size: 16px;
      margin-bottom: 6px;
      text-align: center;
    }

    .encryption-format {
      margin-top: 4px;
      font-size: 12px;
      text-align: center;

      > .title {
        font-size: 13px;
        // font-weight: bold;
        margin-bottom: 2px;
      }
    }

    > .subtitle {
      font-size: 14px;
      margin-bottom: 10px;
    }

    > .actions {
      margin-top: 15px;
      font-size: 12px;

      .action {
        padding: 13px;
        margin-bottom: 10px;
        background-color: rgba(white, 0.9);
        border: 1px solid rgba(gray, 0.15);

        > .name {
          font-weight: bold;
        }

        > .permissions {
          margin-top: 2px;
          a {
            font-weight: normal !important;
          }
        }

        > .execute {
          font-weight: bold;
          margin-bottom: 0px;
          font-size: 12px;
          height: 30px;
          padding-top: 7px;
          text-align: center;
          margin-top: 6px;
          border: 1px solid rgba(gray, 0.15);
          cursor: pointer;
          color: $blue-color;

          &:hover {
            background-color: rgba(gray, 0.10);
          }

          .execution-spinner {
            margin-left: auto;
            margin-right: auto;
            text-align: center;
            margin-top: 3px;
          }
        }

        > .execute-type {
          font-size: 12px;
          margin-bottom: 1px;
        }

        > .error {
          color: red;
          margin-top: 6px;
        }

        > .last-run {
          opacity: 0.5;
          font-size: 11px;
          margin-top: 6px;
        }
      }

    }
  }

}
