.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.mt-5 {
  margin-top: 5px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-15 {
  margin-top: 15px;
}

.faded {
  opacity: 0.5;
}

.footer-bar {
  position: relative;
  width: 100%;
  padding: 5px;
  background-color: #d8d7d9;
  height: $header-height;
  max-height: $header-height;
  z-index: 100;
  font-size: 10px;
  color: $dark-gray;
  border-bottom: 1px solid rgba(#979799, 0.4);

  .medium-text {
    font-size: 14px;
  }

  a {
    font-weight: bold;
    cursor: pointer;
    color: $blue-color;

    &.gray {
      color: $dark-gray !important;
    }

    &.block {
      display: block !important;
    }
  }

  p {
    margin: 2px 0px;
    font-size: 12px;
  }

  label {
    font-weight: bold;
    margin-bottom: 4px;
  }

  strong {
    display: block;
  }

  h3 {
    font-size: 14px !important;
    margin-top: 4px !important;
    margin-bottom: 3px !important;
  }

  h4 {
    margin-bottom: 0px !important;
  }

  section {
    padding: 5px;
    padding-bottom: 2px;
    margin-top: 5px;

    &.inline-h {
      padding-top: 5px;
      padding-left: 0;
      padding-right: 0;
    }

  }

  input {
    margin-bottom: 10px;
    border-radius: 0px;
  }

  .center-align {
    text-align: center;
  }

  .center {
    margin-left: auto;
    margin-right: auto;
  }

  .block {
    display: block;
  }

  .wrap {
    word-wrap: break-word;
  }

  .one-line-overflow {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .small-v-space {
    height: 6px;
    display: block;
  }

  .medium-padding {
    padding: 10px;
  }

  .large-padding {
    padding: 15px;
  }

  .red {
    color: red;
  }
}

.footer-bar-link {
  font-size: 11px;
  font-weight: bold;
  margin-left: 8px;
  color: #515263;

  z-index: 1000;
  display: inline-block;
  position: relative;
  cursor: pointer;

  > a {
    color: #515263;
  }
}

.footer-bar-link .panel {
  font-weight: normal;
  font-size: 12px;

  max-height: 85vh;
  position: absolute;
  right: 0px;
  bottom: 20px;
  min-width: 300px;
  z-index: 1000;
  margin-top: 15px;

  box-shadow: 0px 0px 15px rgba(black, 0.2);
  border: none;
  cursor: default;
  overflow: auto;
  background-color: white;

  button.light {
   font-weight: bold;
   margin-bottom: 0px;
   font-size: 12px;
   height: 30px;
   padding-top: 3px;
   text-align: center;
   margin-bottom: 6px;
   background-color: white;
   display: block;
   width: 100%;
   border: 1px solid rgba(gray, 0.15);
   cursor: pointer;
   color: $blue-color;

   &:hover {
     background-color: rgba(gray, 0.10);
   }

   .execution-spinner {
     margin-left: auto;
     margin-right: auto;
     text-align: center;
     margin-top: 3px;
   }
  }

  .storage-text {
    font-size: 14px;
  }

  .checkbox {
    font-size: 14px;
    font-weight: normal;
    margin-left: auto;
    margin-right: auto;
  }
}

.half-button {
  $spacing: 2px;
  width: calc(50% - #{$spacing});
  margin-left: $spacing/2.0;
  margin-right: $spacing/2.0;
  float: left;
}

.gray-bg {
  background-color: #f6f6f6;
  border: 1px solid #f2f2f2;
}

.white-bg {
  background-color: white;
  border: 1px solid rgba(gray, 0.2);
}

.item.last-refreshed {
  font-weight: normal !important;
  cursor: default !important;
}

.account-panel {
  width: 350px;
}

.import-password {
  margin-top: 14px;

  > .field {
    display: block;
    margin: 5px 0px;
  }
}

.encryption-confirmation {
  position: relative;
  .buttons {
    .cancel {
      font-weight: normal;
      margin-right: 3px;
    }
  }
}

a.disabled {
  pointer-events: none;
}

.spinner {
  height: 10px;
  width: 10px;
  animation: rotate 0.8s infinite linear;
  border: 1px solid #515263;
  border-right-color: transparent;
  border-radius: 50%;
}

@keyframes rotate {
  0%    { transform: rotate(0deg); }
  100%  { transform: rotate(360deg); }
}
