#lock-screen {
  position: relative;
  height: 100%;
  width: 100vw;

  margin-left: auto;
  margin-right: auto;

  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  z-index: $z-index-lock-screen;
  background-color: var(--sn-stylekit-background-color);
  color: var(--sn-stylekit-foreground-color);
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;

  .background {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
  }

  .sk-panel {
    width: 315px;
    flex-grow: 0;

    .sk-panel-header {
      justify-content: center;
    }
  }

  #passcode-reset {
    margin-top: 18px;
    text-align: center;
    width: 100%;
    font-size: 13px;
  }
}
