#lock-screen {
  position: fixed;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 10000;
  width: 100vw;
  height: 100vh;
  background-color: rgba(white, 0.5);
  color: black;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;

  .background {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
  }

  .panel {
    width: 315px;
    flex-grow: 0;

    .header {
      justify-content: center;
    }
  }

  #passcode-reset {
    margin-top: 18px;
    text-align: center;
    width: 100%;
    font-size: 13px;
  }
}
