$main-text-color: black;
$secondary-text-color: rgba($main-text-color, 0.8);
$bg-color: #e3e3e3;
$light-bg-color: #e9e9e9;
$selection-color: $bg-color;
$selected-text-color: black;
$blue-color: #086dd6;

@mixin MQ-Small() {
  @media (max-width: $screen-xs-max) {
    @content;
  }

  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    @content;
  }
}

@mixin MQ-Medium() {
  @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
    @content;
  }
}


@mixin MQ-Large() {
  @media (min-width: $screen-lg-min) {
    @content;
  }
}

.tinted {
  color: $blue-color;
}

.tinted-selected {
  color: white;
}

.tinted-box {
  background-color: $blue-color;
  color: white;
  border-radius: 4px;
  padding: 16px 20px;

  button {
   background-color: white;
   color: $blue-color;
   border-radius: 3px;
   font-weight: bold;
   padding: 6px 20px;
   width: 100%;
   &:hover {
     text-decoration: underline;
   }
  }
}

html,
body {
  font-family: -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  color: $main-text-color;
  -webkit-font-smoothing: antialiased;
  min-height: 100%;
  height: 100%;
  font-size: 20px;
  margin: 0;
  background-color: $bg-color;
}

.dark-button {
  background-color: #2e2e2e;
  border: 0;
  padding: 6px 18px;
  font-size: 16px;
  cursor: pointer;
  color: #fff;
  border-radius: 2px;
  border: 1px solid transparent;
  -webkit-appearance: none;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;

  &:hover {
    background-color: black;
  }
}

a {
  color: $blue-color;
  text-decoration: none;
  &:hover {
    text-decoration: underline;;
  }
}

p {
  overflow: auto;
}

.main-ui-view {
  min-height: 100vh;
  height: 100vh;
  overflow: auto;
  background-color: $bg-color;
}

$footer-height: 25px;

$section-header-height: 70px;

.app {
  // height: 100%;
  height: calc(100% - #{$footer-height});
  width: 100%;
  display: flex;
  vertical-align: top;
  overflow: hidden;
  position: relative;

  .light-button {
    background-color: $bg-color;
    font-weight: bold;
    color: $main-text-color;
    font-size: 16px;
    text-align: center;
    height: 35px;
    border-radius: 4px;
    padding-top: 6px;

    &:hover {
      background-color: #cdcdcd;
    }
  }

  panel-resizer {
    top: 0;
    right: 0;
    z-index: 0;
    width: 8px;
    height: 100%;
    position: absolute;
    background-color: white;
    background-color: transparent;
    cursor: col-resize;

    &.collapsed {
      background-color: rgb(224, 224, 224);
    }

    &.dragging {

    }
  }

  .section {
    padding-bottom: 0px;
    height: 100%;
    max-height: calc(100vh - #{$footer-height});
    font-size: 17px;
    position: relative;

    .scrollable {
      overflow-y: auto;
      overflow-x: hidden;
    }

    > .content {
      height: 100%;
      max-height: 100%;
      background-color: white;
      position: relative;
    }

    .section-title-bar {
     padding: 20px;
     height: $section-header-height;
     font-weight: bold;
     font-size: 14px;

     .section-title-bar-header {
       display: flex;
       justify-content: space-between;

       > .title {
         white-space: nowrap;
         text-overflow: ellipsis;
         width: 80%;
         overflow: hidden;
       }

       > .add-button {

         font-size: 18px;
         width: 45px;
         height: 24px;
         cursor: pointer;
         background-color: #e9e9e9;
         border-radius: 4px;
         font-weight: normal;
         text-align: center;

         &:hover {
           background-color: rgba(#e9e9e9, 0.8);
         }
       }
     }

   }
  }
}

.icon {
  margin-right: 4px;
}
