$main-text-color: black;
$secondary-text-color: rgba($main-text-color, 0.8);
$bg-color: #e3e3e3;
$light-bg-color: #e9e9e9;
$selection-color: $bg-color;
$selected-text-color: black;
$blue-color: #086dd6;

html,
body {
  font-family: -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  color: $main-text-color;
  -webkit-font-smoothing: antialiased;
  min-height: 100%;
  height: 100%;
  font-size: 14px;
  margin: 0;
  background-color: $bg-color;
}

* {
  box-sizing: border-box;
}

.tinted {
  color: $blue-color;
}

.tinted-selected {
  color: white;
}

*:focus {outline:0;}

button:focus {
  outline:0;
}

input, button, select, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

a {
  color: $blue-color;
  text-decoration: none;

  &.no-decoration {
    color: inherit;
  }

  &:hover {
    text-decoration: underline;

    &.no-decoration {
      text-decoration: none;
    }
  }
}

p {
  overflow: auto;
}

.main-ui-view {
  min-height: 100vh;
  height: 100vh;
  overflow: auto;
  background-color: $bg-color;
}

$footer-height: 32px;

.app {
  height: calc(100% - #{$footer-height});
  width: 100%;
  display: flex;
  vertical-align: top;
  overflow: hidden;
  position: relative;

  panel-resizer {
    top: 0;
    right: 0;
    z-index: 1;
    width: 8px;
    height: 100%;
    position: absolute;
    cursor: col-resize;
    background-color: rgba(black, 0.1);
    opacity: 0;
    border-top: none;
    border-bottom: none;

    &.left {
      left: 0;
      right: none;
    }

    &.always-visible {
      opacity: 1;
    }

    &.collapsed {
      opacity: 1;
    }

    &.dragging {
      opacity: 1;
    }

    &.hoverable {
      &:hover {
        opacity: 1;
      }
    }
  }

  .section {
    padding-bottom: 0px;
    height: 100%;
    max-height: calc(100vh - #{$footer-height});
    font-size: 17px;
    position: relative;
    overflow: hidden;

    .scrollable {
      overflow-y: auto;
      overflow-x: hidden;
    }

    > .content {
      height: 100%;
      max-height: 100%;
      background-color: white;
      position: relative;
    }

    .section-title-bar {
     font-weight: bold;
     font-size: 14px;

     .padded {
       padding: 0 14px;
     }

     .section-title-bar-header {
       display: flex;
       justify-content: space-between;
       align-items: center;
       overflow: hidden;

       > .title {
         white-space: nowrap;
         text-overflow: ellipsis;
         width: 80%;
         overflow: hidden;
       }

       > .add-button {
         $button-bg: #e9e9e9;
         color: lighten($main-text-color, 40%);
         font-size: 18px;
         width: 45px;
         height: 24px;
         cursor: pointer;
         background-color: $button-bg;
         border-radius: 4px;
         font-weight: normal;
         text-align: center;

         &:hover {
           background-color: darken($button-bg, 5%);
           color: lighten($main-text-color, 40%);
         }
       }
     }
   }
  }
}

.icon {
  margin-right: 4px;
}
