.permissions-modal, .component-modal {
  position: fixed;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 10000;
  width: 100vw;
  height: 100vh;
  background-color: rgba(gray, 0.3);
  color: black;
  font-size: 16px;
  display: flex;
  align-items: center;

  .background {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
  }

  .content {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-color: white;
    width: 700px;
    // height: 500px;
    margin: auto;
    padding: 10px 30px;
    padding-bottom: 30px;
    // position: absolute;
    // top: 0; left: 0; bottom: 0; right: 0;
    overflow-y: scroll;

    p {
      margin-bottom: 8px;
      margin-top: 0;
    }

    h3 {
      margin-bottom: 0;
    }

    h4 {
      margin-bottom: 6px;
    }
  }

  .learn-more {
    margin-top: 20px;
    line-height: 1.3;
  }

  .status {
    color: orange;
  }

  .buttons {
    margin-top: 35px;
  }

  button.standard {
    border-radius: 1px;
    font-weight: bold;
    padding: 6px 20px;
    display: inline-block;

    &:hover {
      text-decoration: underline;
    }

    &.tinted {
      background-color: $blue-color;
      color: white;
    }

    &.white {
      color: black;
      background-color: white;
      border: 1px solid gray;
    }
  }
}

.modal-iframe-container {

  .modal-iframe {
    width: 100%;
    height: 100%;
  }

}
