#permissions-modal {
  width: 350px;
  .panel {
    border-radius: 0;
    background-color: white;
  }
  .content {
    padding-top: 1.1rem;
  }
  .footer {
    padding-bottom: 1.4rem;
  }
}

#password-wizard {
  font-size: 16px;
}

.panel {
  background-color: white;
}

.header .subtitle {
  font-size: 1.1rem;
}

.modal {
  position: fixed;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 10000;
  width: 100vw;
  height: 100vh;
  background-color: rgba(gray, 0.3);
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;

  .sn-component {
    height: 100%;
    .panel {
      height: 100%;
    }
  }

  &.auto-height {
    > .content {
      height: auto !important;
    }
  }

  &.medium {
    > .content {
      width: 700px;
      height: 500px;
    }
  }

  &.small {
    > .content {
      width: 700px;
      height: 344px;
    }
  }

  .background {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
  }

  > .content {
    overflow-y: auto;
    width: auto;
    padding: 0;
    padding-bottom: 0;
    min-width: 300px;

    -webkit-box-shadow: 0px 2px 35px 0px rgba(0,0,0,0.19);
    -moz-box-shadow: 0px 2px 35px 0px rgba(0,0,0,0.19);
    box-shadow: 0px 2px 35px 0px rgba(0,0,0,0.19);
  }
}

// Optionally use if .component-view container is not flex-based
.component-view-container {
  flex-grow: 1;
  display: flex;
  height: 100%;
  width: 100%;
}

.component-view {
  flex-grow: 1;
  display: flex;
  // overflow: auto; // not sure why we need this. Removed because it creates unncessary scroll bars. Tested on folders extension, creates horizontal scrollbar at bottom on windows

  .sn-component {
    min-width: 100%;
  }

  iframe {
    flex: 1;
    width: 100%;
  }
}
