.notes {
  width: 25%;
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;

  $notes-title-bar-height: 130px;

  .notes-title-bar {
    color: rgba(black, 0.40);
    padding-top: 16px !important;
    height: $notes-title-bar-height !important;
    font-weight: normal !important;
    font-size: 18px !important;
  }

  .tag-menu-bar {
    position: relative;
    margin: 0 -20px;
    width: auto;
    padding-top: 1px;
    margin-top: 14px;
  }

  .filter-section {
    clear: left;
    height: 32px;
    margin-top: 20px;

    .filter-bar {
      background-color: $light-bg-color;
      border-radius: 4px;
      height: 100%;
      color: #909090;
      text-align: center;
      font-weight: normal;
      font-size: 16px;
      line-height: 35px;

      border: none;
      width: 100%;
    }
  }

  .scrollable {
    height: calc(100vh - (#{$notes-title-bar-height} + #{$header-height}));
  }

  .infinite-scroll {
    overflow-x: hidden;
    height: inherit;
  }

  .note {
    width: 100%;
    padding: 15px;
    border-bottom: 1px solid $bg-color;
    cursor: pointer;
    background-color: white;

    > .name {
      font-weight: 600;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    > .date {
      font-size: 12px;
      margin-top: 4px;
    }

    .note-preview {
      font-size: 15px;
      margin-top: 1px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 1; /* number of lines to show */
      $line-height: 18px;
      line-height: $line-height;        /* fallback */
      max-height: calc(#{$line-height} * 1);       /* fallback */
    }

    &.selected {
      background-color: $blue-color;
      color: white;
    }

  }
}
