#notes-column, .notes {
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;

  width: 350px;
  flex-grow: 0;
  user-select: none;

  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;

  .content {
    display: flex;
    flex-direction: column;
  }

  #notes-title-bar {
    padding-top: 16px;
    font-weight: normal;
    font-size: 18px;

    .section-title-bar-header .title {
      color: rgba(black, 0.40);
      width: calc(90% - 45px);
    }
  }

  #notes-add-button {

  }

  #notes-menu-bar {
    position: relative;
    margin-top: 14px;
  }

  .filter-section {
    clear: left;
    height: 32px;
    margin-top: 14px;
    position: relative;

    .filter-bar {
      background-color: $light-bg-color;
      border-radius: 4px;
      height: 100%;
      color: #909090;
      text-align: center;
      font-weight: normal;
      font-size: 16px;
      line-height: 35px;

      border: none;
      width: 100%;
      position: relative;
    }

    #search-clear-button {
      border-radius: 50%;
      width: 17px;
      height: 17px;
      color: white;
      cursor: default;
      background-color: gray;
      font-size: 10px;
      line-height: 17px;
      text-align: center;
      position: absolute;
      top: 8px;
      right: 8px;

      transition: background-color 0.15s linear;

      &:hover {
        background-color: $blue-color;
      }
    }
  }

  .scrollable {
    height: 100%;
  }

  .infinite-scroll {
    overflow-x: hidden;
    height: inherit;

    // Autohide scrollbar on Windows.
    // Unfortunately must affect every platform since no way to hide just for Windows.
    overflow-y: hidden;
    &:hover {
      overflow-y: scroll;
    }

  }

  .note {
    width: 100%;
    padding: 15px;
    border-bottom: 1px solid $bg-color;
    cursor: pointer;
    background-color: white;

    > .name {
      font-weight: 600;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    > .date {
      font-size: 12px;
      margin-top: 4px;
    }

    .tags-string {
      margin-bottom: 4px;
      font-size: 13px;
    }

    .pinned {
      .icon {
        display: inline-block;
        vertical-align: top;
        margin-top: 2px;
        margin-right: 2px;
      }
    }

    .note-preview {
      font-size: 15px;
      margin-top: 1px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 1; /* number of lines to show */
      $line-height: 18px;
      line-height: $line-height;        /* fallback */
      max-height: calc(#{$line-height} * 1);       /* fallback */
    }

    &.selected {
      background-color: $blue-color;
      color: white;

      .pinned {
        color: white;
      }
    }

  }
}
