.sn-component {

  .sk-notification {
    &.unpadded {
      padding: 0;
      padding-bottom: 0 !important;
      padding-top: 0;
    }

    .padded-row {
      padding: 10px 12px;
    }

    .bordered-row {
      border-bottom: 1px solid rgba(black, 0.1);
      border-top: 1px solid rgba(black, 0.1);
    }
  }


  .sk-app-bar {
    &.no-top-edge {
      border-top: 0;
    }
  }

}

.sk-panel {
  .sk-panel-header {
    .close-button {
      &:hover {
        text-decoration: none;
      }
    }
  }

  input {
    min-height: 39px;
  }


  .sk-button-group.stretch {
    .sk-button:not(.featured) {
      // Default buttons that are not featured and stretched should have larger vertical padding
      padding: 9px;
    }
  }
}

#session-history-menu {
  .sk-menu-panel .sk-menu-panel-row .sk-sublabel.opaque {
    opacity: 1.0
  }
}
