.tags {
  width: 180px;
  flex-grow: 0;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;

  &, #tags-content {
    background-color: var(--sn-stylekit-secondary-background-color);
    display: flex;
    flex-direction: column;
  }

  .tags-title-section {
    color: var(--sn-stylekit-secondary-foreground-color);
    padding-top: 15px;
    padding-bottom: 8px;
    padding-left: 12px;
    padding-right: 12px;
    font-size: 12px;
  }

  .scrollable {
    height: 100%;
  }

  .infinite-scroll {
    overflow-x: hidden;
    height: inherit;

    // Autohide scrollbar on Windows.
    // Unfortunately must affect every platform since no way to hide just for Windows.
    overflow-y: hidden;
    &:hover {
      overflow-y: scroll;
      overflow-y: overlay; // overlay is not supported on ff, so keep previous statement up
    }
  }

  .tag {
    min-height: 30px;
    padding: 5px 12px;
    cursor: pointer;
    transition: height .1s ease-in-out;
    position: relative;

    > .info {
      height: 20px;

      > .title {
        width: 80%;
        background-color: transparent;
        font-weight: 600;
        float: left;
        color: var(--sn-stylekit-secondary-foreground-color);
        border: none;
        cursor: pointer;
        text-overflow: ellipsis;
        width: 75%;

        pointer-events: none;
      }

      > .count {
        position: absolute;
        right: 17px;
        padding-top: 1px;
        font-weight: bold;
        color: var(--sn-stylekit-neutral-color);
      }
    }

    > .menu {
      font-size: 11px;

      > .item {
        margin-right: 2px;
      }

      opacity: 0.5;
      font-weight: bold;
      clear: both;
      margin-top: 2px;
      margin-bottom: 2px;

      &:hover {
        opacity: 1.0;
      }
    }

    &.selected {
      > .title {
        cursor: text;
      }
    }

    &:hover:not(.selected), &.selected  {
      background-color: var(--sn-stylekit-secondary-contrast-background-color);
      color: var(--sn-stylekit-secondary-contrast-foreground-color);
      > .title {
        color: var(--sn-stylekit-secondary-contrast-foreground-color);
      }
    }
  }
}
