.tags {
  width: 180px;
  flex-grow: 0;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;

  &, #tags-content {
    background-color: #f6f6f6;
    display: flex;
    flex-direction: column;
  }

  #tags-title-bar {
    color: black;
    padding-top: 14px;
    padding-bottom: 16px;
    padding-left: 12px;
    padding-right: 12px;
    font-size: 12px;
    color: rgba(black, 0.8);
  }

  #tag-add-button {
    background-color: #d7d7d7;

    &:hover {
      background-color: rgba(#d7d7d7, 0.8);
    }
  }

  .scrollable {
    height: 100%;
  }

  .infinite-scroll {
    overflow-x: hidden;
    height: inherit;

    // Autohide scrollbar on Windows. 
    // Unfortunately must affect every platform since no way to hide just for Windows.
    overflow-y: hidden;
    &:hover {
      overflow-y: scroll;
    }
  }

  .tag {
    min-height: 30px;
    padding: 5px 12px;
    cursor: pointer;
    transition: height .1s ease-in-out;
    position: relative;
    font-size: 14px;

    > .info {
      height: 20px;

      > .title {
        width: 80%;
        background-color: transparent;
        font-weight: 600;
        float: left;
        color: $main-text-color;
        border: none;
        cursor: pointer;
        text-overflow: ellipsis;
        width: 75%;

        pointer-events: none;
      }

      > .count {
        position: absolute;
        right: 17px;
        padding-top: 1px;
        font-weight: bold;
      }
    }

    > .menu {
      font-size: 11px;

      > .item {
        margin-right: 2px;
      }

      opacity: 0.5;
      font-weight: bold;
      clear: both;
      margin-top: 2px;
      margin-bottom: 2px;

      &:hover {
        opacity: 1.0;
      }
    }

    $tags-selected-color: #dbdbdb;

    &.selected {
      background-color: $tags-selected-color;
      color: $selected-text-color;
      > .title {
        color: $selected-text-color;
        cursor: text;
      }
    }

    /* When a note is dragged over tag */
    &.over {
      background-color: $tags-selected-color;
      color: $selected-text-color;
      border: 2px dashed white;
      > .title {
        color: $selected-text-color;
      }
    }

    &:hover:not(.selected) {
      background-color: $tags-selected-color;
      color: $selected-text-color;
      > .title {
        color: $selected-text-color;
      }
    }
  }
}
