.tags {
  flex: 1 10%;
  max-width: 180px;
  min-width: 100px;
  width: 180px;

  user-select: none;

  $tags-title-bar-height: 55px;

  #tags-title-bar {
    color: black;
    height: $tags-title-bar-height;
    padding-left: 12px;
    padding-right: 12px;
    font-size: 12px;
    color: rgba(black, 0.8);
  }

  #tags-content {
    background-color: #f6f6f6;
  }

  #tag-add-button {
    margin-top: -6px;
    background-color: #d7d7d7;
    float: right;

    &:hover {
      background-color: rgba(#d7d7d7, 0.8);
    }
  }

  .scrollable {
    height: calc(100vh - (#{$tags-title-bar-height} + #{$footer-height}));
  }

  .tag {
    min-height: 30px;
    padding: 5px 12px;
    cursor: pointer;
    transition: height .1s ease-in-out;
    position: relative;
    font-size: 14px;

    > .info {
      height: 20px;

      > .title {
        width: 80%;
        background-color: transparent;
        font-weight: 600;
        float: left;
        color: $main-text-color;
        border: none;
        cursor: pointer;
        text-overflow: ellipsis;
        width: 75%;

        pointer-events: none;
      }

      > .count {
        position: absolute;
        right: 17px;
        padding-top: 1px;
        font-weight: bold;
      }
    }

    > .menu {
      font-size: 11px;

      > .item {
        margin-right: 2px;
      }

      opacity: 0.5;
      font-weight: bold;
      clear: both;
      margin-top: 2px;
      margin-bottom: 2px;

      &:hover {
        opacity: 1.0;
      }
    }

    $tags-selected-color: #dbdbdb;

    &.selected {
      background-color: $tags-selected-color;
      color: $selected-text-color;
      > .title {
        color: $selected-text-color;
        cursor: text;
      }
    }

    /* When a note is dragged over tag */
    &.over {
      background-color: $tags-selected-color;
      color: $selected-text-color;
      border: 2px dashed white;
      > .title {
        color: $selected-text-color;
      }
    }

    &:hover:not(.selected) {
      background-color: $tags-selected-color;
      color: $selected-text-color;
      > .title {
        color: $selected-text-color;
      }
    }
  }
}
