$transition-duration: 750ms;

@keyframes fadeOut {
  100% {
    opacity: 0;
    max-height: 0;
  }
  0% {
    opacity: 1;
    max-height: 25px;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    max-height: 0;
  }
  100% {
    opacity: 1;
    max-height: 25px;
  }
}

.task-item.fade-out {
  animation: fadeOut ease $transition-duration;
  animation-delay: $transition-duration;
  animation-fill-mode: forwards;
}

.task-item.fade-in {
  animation: fadeIn ease $transition-duration;
  animation-delay: 0s;
  animation-fill-mode: forwards;
}

.task-item.hide {
  display: none;
}
