$transition-duration: 750ms;

@keyframes fadeOut {
  100% {
    opacity: 0;
    max-height: 0;
  }
  0% {
    opacity: 1;
    max-height: 100px;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    max-height: 0;
  }
  100% {
    opacity: 1;
    max-height: 100px;
  }
}

.fade-out {
  animation: fadeOut ease $transition-duration;
  animation-delay: 0s;
  animation-fill-mode: forwards;
}

.fade-in {
  animation: fadeIn ease $transition-duration;
  animation-delay: 0s;
  animation-fill-mode: forwards;
}

.completed {
  animation-delay: 1.8s;
}

.opened {
  animation-delay: 1.2s;
}

.hide {
  display: none;
}
