.container > .separator {
  background-color: var(--sn-stylekit-border-color);
}

.container.horizontal {
  flex-direction: row;
  overflow-x: clip;

  .column {
    flex: 1;
  }

  .column.full {
    max-width: 100%;
  }

  .column.half {
    max-width: 50%;
  }

  .separator {
    width: 10px;
  }

  .column.half:last-child {
    max-width: 50%;
  }
}

.container.vertical {
  flex-direction: column;
  overflow-y: clip;

  $separator-height: 1%;

  .row.full {
    height: 100%;
  }

  .row.half {
    height: 40%;
  }

  .separator {
    height: $separator-height;
  }

  .row.half:last-child {
    height: 60% - $separator-height;
  }
}
