.about.animated.fadeIn
  .title About
  .summary Namewhale helps you find a unique name for your startup. Using an intelligent, seed-based algorithm, names are generated based on the sound, style, and feel of the seed words you chose.
  .links
    %a{"href" => "https://itunes.apple.com/us/app/namewhale/id1028881375?ls=1&mt=8", "target" => "_blank"} Namewhale on the AppStore
    %a{"href" => "https://twitter.com/namewhale", "target" => "_blank"} @namewhale
