.inline-flex {
  display: inline-flex;
}

.block {
  display: block;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.flex-grow {
  flex-grow: 1;
}

.flex-shrink {
  flex-shrink: 1;
}

.flex-shrink-0 {
  flex-shrink: 0;
}

.flex-wrap {
  flex-wrap: wrap;
}

.grid {
  display: grid;
}

.items-center {
  align-items: center;
}
.items-start {
  align-items: flex-start;
}
.items-end {
  align-items: flex-end;
}
.items-stretch {
  align-items: stretch;
}

.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.justify-start {
  justify-content: flex-start;
}
.justify-end {
  justify-content: flex-end;
}

.gap-1 {
  grid-gap: 0.25rem;
  gap: 0.25rem;
}
.gap-2 {
  grid-gap: 0.5rem;
  gap: 0.5rem;
}
.gap-3 {
  grid-gap: 0.75rem;
  gap: 0.75rem;
}
.gap-4 {
  grid-gap: 1rem;
  gap: 1rem;
}

.absolute {
  position: absolute;
}
.fixed {
  position: fixed;
}

.cursor-pointer {
  cursor: pointer;
}

.origin-top-right {
  transform-origin: top right;
}

.overflow-auto {
  overflow: auto;
}
.overflow-y-auto {
  overflow-y: auto;
}
.overflow-hidden {
  overflow: hidden;
}
.overflow-ellipsis {
  text-overflow: ellipsis;
}

.flex-basis-55 {
  flex-basis: 13.75rem;
}

.opacity-0 {
  opacity: 0;
}
