.w-auto {
  width: auto;
}

.w-full {
  width: 100%;
}

.w-100vw {
  width: 100vw;
}

.fit-content {
  width: -moz-fit-content;
  width: fit-content;
}

.w-0 {
  width: 0;
}
.w-2 {
  width: 0.5rem;
}
.w-3\.5 {
  width: 0.875rem;
}
.w-4 {
  width: 1rem;
}
.w-5 {
  width: 1.25rem;
}
.w-8 {
  width: 2rem;
}
.w-25 {
  width: 6.25rem;
}
.w-30 {
  width: 7.5rem;
}
.w-55 {
  width: 13.75rem;
}
.w-56 {
  width: 14rem;
}
.w-70 {
  width: 17.5rem;
}
.w-80 {
  width: 20rem;
}
.w-103 {
  width: 25.75rem;
}
.w-125 {
  width: 31.25rem;
}
.w-160 {
  width: 40rem;
}

.w-20px {
  width: 20px;
}

.min-w-265px {
  min-width: 265px;
}

.min-w-20px {
  min-width: 20px;
}

.min-w-0 {
  min-width: 0;
}
.min-w-4 {
  min-width: 1rem;
}
.min-w-5 {
  min-width: 1.25rem;
}
.min-w-8 {
  min-width: 2rem;
}
.min-w-20 {
  min-width: 5rem;
}
.min-w-40 {
  min-width: 10rem;
}
.min-w-42 {
  min-width: 10.5rem;
}
.min-w-55 {
  min-width: 13.75rem;
}
.min-w-80 {
  min-width: 20rem;
}
.min-w-max {
  min-width: max-content;
}

.max-w-xs {
  max-width: 20rem;
}
.max-w-md {
  max-width: 28rem;
}

.max-w-40 {
  max-width: 10rem;
}

.max-w-80 {
  max-width: 20rem;
}

.max-w-125 {
  max-width: 31.25rem;
}

.max-w-290px {
  max-width: 290px;
}
