.panel.panel-default.account-panel.panel-right.account-data-menu
  .panel-body

    %section.gray-bg.medium-padding{"ng-init" => "showSN = true"}
      %account-new-account-section

    %section.gray-bg.medium-padding
      %account-sync-section

    %section.gray-bg.medium-padding
      %account-export-section

    %section.gray-bg.medium-padding
      %account-keys-section
      
    %h4
      %a{"ng-click" => "destroyLocalData()"} Destroy all local data
