.account-keys-section.account-section-content
  .keys
    .key.white-bg{"ng-repeat" => "key in keys track by key.name"}
      .name {{key.name}}
      .value {{key.key}}

  %a{"ng-click" => "newKeyData.showForm = !newKeyData.showForm"} Add New Key
  %form{"ng-if" => "newKeyData.showForm"}
    %input{"ng-model" => "newKeyData.name", "placeholder" => "Name your key"}
    %input{"ng-model" => "newKeyData.key", "placeholder" => "Key"}
    %button.light{"ng-click" => "submitNewKeyForm()"} Add Key
