.sn-component
  .panel{"ng-attr-id" => "component-{{component.uuid}}"}
    .header
      %h1.title {{component.name}}
      %a.close-button.info{"ng-click" => "dismiss()"} Close
    .modal-iframe-container{"ng-attr-id" => "component-{{component.uuid}}"}
      %iframe{"ng-src" => "{{url() | trusted}}", "frameBorder" => "0", "sandbox" => "allow-scripts allow-top-navigation-by-user-activation allow-popups allow-popups-to-escape-sandbox allow-modals", "data-component-id" => "{{component.uuid}}"}
