%ul.dropdown-menu.dropdown-menu-left.nt-dropdown-menu.dark.editor-menu
  .extension{"ng-repeat" => "extension in extensions"}
    .menu-section-header.pointer{"ng-click" => "extension.hide = !extension.hide"}
      .title {{extension.name}}
      .subtitle
        Can access your data
        %strong {{accessTypeForExtension(extension)}}
      .spinner.loading{"ng-if" => "extension.loading"}
    %ul{"ng-if" => "!extension.hide"}
      %li.menu-item{"ng-repeat" => "action in extension.actionsWithContextForItem(item)", "ng-click" => "executeAction(action, extension)"}
        .menu-item-title {{action.label}}
        .menu-item-subtitle {{action.desc}}

        %div{"ng-if" => "action.showNestedActions"}
          %ul.mt-10
            %li.menu-item.white-bg{"ng-repeat" => "subaction in action.subactions", "ng-click" => "executeAction(subaction, extension); $event.stopPropagation()", "style" => "margin-top: -1px;"}
              .menu-item-title {{subaction.label}}
              .menu-item-subtitle {{subaction.desc}}
              %span{"ng-if" => "subaction.running"}
                .spinner{"style" => "margin-top: 3px;"}

        %span{"ng-if" => "action.running"}
          .spinner{"style" => "margin-top: 3px;"}

.extension-render-modal{"ng-if" => "renderData.showRenderModal", "ng-click" => "renderData.showRenderModal = false"}
  .content
    %h2 {{renderData.title}}
    %p.normal{"style" => "white-space: pre-wrap; font-family: monospace; font-size: 16px;"} {{renderData.text}}
