%ul.dropdown-menu.dropdown-menu-left.nt-dropdown-menu.dark.contextual-menu
  .extension{"ng-repeat" => "extension in extensions"}
    .ext-header
      .name {{extension.name}}
      .access
        Can access your data
        %strong {{accessTypeForExtension(extension)}}
      .spinner.loading{"ng-if" => "extension.loading"}
    %ul
      %li.action{"ng-repeat" => "action in extension.actionsWithContextForItem(item)", "ng-click" => "executeAction(action, extension)"}
        .name {{action.label}}
        .desc {{action.desc}}
        %span{"ng-if" => "action.running"}
          .spinner{"style" => "margin-top: 3px;"}
