.sn-component
  .menu-panel.dropdown-menu
    .section
      .header
        %h4.title Note Editor
      %menu-row{"title" => "'Plain Editor'", "circle" => "selectedEditor == null && 'success'", "ng-click" => "selectEditor($event, null)"}

      %menu-row{"ng-repeat" => "editor in editors", "ng-click" => "selectEditor($event, editor)", "title" => "editor.name",
      "circle" => "selectedEditor === editor && 'success'",
       "has-button" => "selectedEditor == editor || defaultEditor == editor", "button-text" => "defaultEditor == editor ? 'Undefault' : 'Set Default'",
       "button-action" => "toggleDefaultForEditor(editor)", "button-class" => "defaultEditor == editor ? 'warning' : 'info'"}
        .row
          .column
            %strong.red.medium{"ng-if" => "editor.conflict_of"} Conflicted copy
            .sublabel{"ng-if" => "editor.local_url"}
              Available Offline

      %a.no-decoration{"ng-if" => "editors.length == 0", "href" => "https://standardnotes.org/extensions", "target" => "blank"}
        %menu-row{"title" => "'Download More Editors'", "ng-click" => "moreEditors()"}
