%ul.dropdown-menu.sectioned-menu
  .header
    .title System Editors
  %ul
    %li.menu-item{"ng-repeat" => "editor in editorManager.systemEditors", "ng-click" => "selectEditor($event, editor)"}
      %span.pull-left.mr-10{"ng-if" => "selectedEditor === editor"} ✓
      .menu-item-title.pull-left {{editor.name}}

  %div{"ng-if" => "editorManager.externalEditors.length > 0"}
    .header
      .title External Editors
      .subtitle Can access your current note decrypted.
    %ul
      %li.menu-item{"ng-repeat" => "editor in editorManager.externalEditors", "ng-click" => "selectEditor($event, editor)"}
        %strong.red.medium{"ng-if" => "editor.conflict_of"} Conflicted copy
        .menu-item-title
          {{editor.name}}
          %span.inline.blue{"style" => "margin-left: 8px;", "ng-if" => "selectedEditor === editor"} ✓
