%ul.dropdown-menu.dropdown-menu-left.nt-dropdown-menu.dark.editor-menu
  .menu-section-header
    .title System Editors
  %ul
    %li.menu-item{"ng-repeat" => "editor in sysEditors", "ng-click" => "selectEditor(editor)"}
      %span.pull-left.mr-10{"ng-if" => "!selectedEditor"} ✓
      .menu-item-title.pull-left {{editor.name}}

  %div{"ng-if" => "editors.length > 0"}
    .menu-section-header
      .title External Editors
      .subtitle Can access your current note decrypted.
    %ul
      %li.menu-item{"ng-repeat" => "editor in editors", "ng-click" => "selectEditor(editor)"}
        %span.pull-left.mr-10{"ng-if" => "selectedEditor == editor"} ✓
        .menu-item-title {{editor.name}}
        .menu-item-subtitle.wrap {{editor.url}}
  .menu-section-footer.mt-10
    %a.block.blue.medium{"href" => "https://standardnotes.org/extensions", "target" => "_blank"} → Available Editors
    %p.normal.m-0.mt-5.faded Register editors using the Extensions menu on the bottom of the screen.
