.panel.panel-default.account-panel.panel-right#global-ext-menu
  .panel-body
    .container
      .float-group.h20
        %h1.tinted.pull-left Extensions
        %a.block.pull-right.dashboard-link{"href" => "https://dashboard.standardnotes.org", "target" => "_blank"} Open Dashboard
      %div.clear{"ng-if" => "!extensionManager.extensions.length && !themeManager.themes.length && !componentManager.components.length"}
        %p Customize your experience with editors, themes, and actions.
        .tinted-box.mt-10
          %h3 Available as part of the Extended subscription.
          %p.mt-5 Note history
          %p.mt-5 Automated backups
          %p.mt-5 Editors, themes, and actions
          %a{"href" => "https://standardnotes.org/extensions", "target" => "_blank"}
            %button.mt-10
              %h3 Learn More

    %div{"ng-if" => "themeManager.themes.length > 0"}
      .header.container.section-margin
        %h2 Themes
      %ul
        %li{"ng-repeat" => "theme in themeManager.themes | orderBy: 'name'", "ng-click" => "clickedExtension(theme)"}
          .container
            %h3
              %input.bold{"ng-if" => "theme.rename", "ng-model" => "theme.tempName", "ng-keyup" => "$event.keyCode == 13 && submitExtensionRename(theme);", "mb-autofocus" => "true", "should-focus" => "true"}
              %span{"ng-if" => "!theme.rename"} {{theme.name}}
            %a{"ng-if" => "!themeManager.isThemeActive(theme)", "ng-click" => "themeManager.activateTheme(theme); $event.stopPropagation();"} Activate
            %a{"ng-if" => "themeManager.isThemeActive(theme)", "ng-click" => "themeManager.deactivateTheme(theme); $event.stopPropagation();"} Deactivate
            .mt-3{"ng-if" => "theme.showDetails"}
              .link-group
                %a{"ng-click" => "renameExtension(theme); $event.stopPropagation();"} Rename
                %a{"ng-click" => "theme.showLink = !theme.showLink; $event.stopPropagation();"} Show Link
                %a.red{"ng-click" => "deleteTheme(theme); $event.stopPropagation();"} Delete
                %p.small.selectable.wrap{"ng-if" => "theme.showLink"}
                  {{theme.url}}


    %div{"ng-if" => "extensionManager.extensions.length"}
      .header.container.section-margin
        %h2 Actions
        %p{"style" => "margin-top: 3px;"} Choose "Actions" in the note editor to use installed actions.

      %ul
        %li{"ng-repeat" => "extension in extensionManager.extensions | orderBy: 'name'", "ng-init" => "extension.formData = {}", "ng-click" => "clickedExtension(extension)"}
          .container
            %h3
              %input.bold{"ng-if" => "extension.rename", "ng-model" => "extension.tempName", "ng-keyup" => "$event.keyCode == 13 && submitExtensionRename(extension);", "mb-autofocus" => "true", "should-focus" => "true"}
              %span{"ng-if" => "!extension.rename"} {{extension.name}}
            %p.small{"ng-if" => "extension.description"} {{extension.description}}
            %div{"ng-if" => "extension.showDetails"}
              .mt-10
                %label.block Access Type
                %label.normal.block{"ng-click" => " $event.stopPropagation();"}
                  %input{"type" => "radio", "ng-model" => "extension.encrypted", "ng-value" => "true", "ng-change" => "changeExtensionEncryptionFormat(true, extension);"}
                  Encrypted
                %label.normal.block{"ng-click" => " $event.stopPropagation();"}
                  %input{"type" => "radio", "ng-model" => "extension.encrypted", "ng-value" => "false", "ng-change" => "changeExtensionEncryptionFormat(false, extension);"}
                  Decrypted

              .small-v-space

              %ul{"ng-repeat" => "action in extension.actionsInGlobalContext()"}
                %li
                  %label.block {{action.label}}
                  %em{"style" => "font-style: italic;"} {{action.desc}}
                  %em{"ng-if" => "action.repeat_mode == 'watch'"}
                    Repeats when a change is made to your items.
                  %em{"ng-if" => "action.repeat_mode == 'loop'"}
                    Repeats at most once every {{action.repeat_timeout}} seconds
                  %div
                    %a{"ng-click" => "action.showPermissions = !action.showPermissions"} {{action.showPermissions ? "Hide permissions" : "Show permissions"}}
                    %div{"ng-if" => "action.showPermissions"}
                      {{action.permissionsString()}}
                      %label.block.normal {{action.encryptionModeString()}}

                  %div
                    .mt-5{"ng-if" => "action.repeat_mode"}
                      %button.light.tinted{"ng-if" => "extensionManager.isRepeatActionEnabled(action)", "ng-click" => "extensionManager.disableRepeatAction(action, extension); $event.stopPropagation();"} Disable
                      %button.light.tinted{"ng-if" => "!extensionManager.isRepeatActionEnabled(action)", "ng-click" => "extensionManager.enableRepeatAction(action, extension); $event.stopPropagation();"} Enable
                    %button.light.mt-10{"ng-if" => "!action.running && !action.repeat_mode", "ng-click" => "selectedAction(action, extension); $event.stopPropagation();"}
                      Perform Action
                    .spinner.mb-5.block{"ng-if" => "action.running"}
                  %p.mb-5.mt-5.small{"ng-if" => "!action.error && action.lastExecuted && !action.running"}
                    Last run {{action.lastExecuted | appDateTime}}
                  %label.red{"ng-if" => "action.error"}
                    Error performing action.

              %a.block.mt-5{"ng-click" => "renameExtension(extension); $event.stopPropagation();"} Rename
              %a.block.mt-5{"ng-click" => "extension.showURL = !extension.showURL; $event.stopPropagation();"} Show Link
              %p.wrap.selectable.small{"ng-if" => "extension.showURL"} {{extension.url}}
              %a.block.mt-5{"ng-click" => "deleteActionExtension(extension); $event.stopPropagation();"} Delete

    %div{"ng-if" => "componentManager.components.length > 0"}
      .header.container.section-margin
        %h2 Components
      %ul
        %li{"ng-repeat" => "component in componentManager.components | orderBy: 'name'", "ng-click" => "clickedExtension(component)"}
          .container
            %h3
              %input.bold{"ng-if" => "component.rename", "ng-model" => "component.tempName", "ng-keyup" => "$event.keyCode == 13 && submitExtensionRename(component);", "mb-autofocus" => "true", "should-focus" => "true"}
              %span{"ng-if" => "!component.rename"} {{component.name}}

            %div{"ng-if" => "component.isEditor()"}
              %a{"ng-if" => "!component.isDefaultEditor()", "ng-click" => "makeEditorDefault(component); $event.stopPropagation();"} Make Default
              %a{"ng-if" => "component.isDefaultEditor()", "ng-click" => "removeEditorDefault(component); $event.stopPropagation();"} Remove Default
            %div{"ng-if" => "!component.isEditor()"}
              %a{"ng-if" => "!componentManager.isComponentActive(component)", "ng-click" => "componentManager.activateComponent(component); $event.stopPropagation();"} Activate
              %a{"ng-if" => "componentManager.isComponentActive(component)", "ng-click" => "componentManager.deactivateComponent(component); $event.stopPropagation();"} Deactivate
            .mt-3{"ng-if" => "component.showDetails"}
              .link-group
                %a{"ng-click" => "renameExtension(component); $event.stopPropagation();"} Rename
                %a{"ng-click" => "component.showLink = !component.showLink; $event.stopPropagation();"} Show Link
                %a{"ng-if" => "component.permissions.length", "ng-click" => "revokePermissions(component); $event.stopPropagation();"} Revoke Permissions
                %a.red{"ng-click" => "deleteComponent(component); $event.stopPropagation();"} Delete
                %p.small.selectable.wrap{"ng-if" => "component.showLink"}
                  {{component.url}}

    %div{"ng-if" => "serverExtensions.length > 0"}
      .header.container.section-margin
        %h2 Server Extensions
      %ul
        %li{"ng-repeat" => "ext in serverExtensions", "ng-click" => "ext.showDetails = !ext.showDetails"}
          .container
            %strong.red.medium{"ng-if" => "ext.conflict_of"} Conflicted copy
            %h3 {{nameForServerExtension(ext)}}
            %div.mt-3{"ng-if" => "ext.showDetails"}
              .link-group
                %a{"ng-click" => "ext.showUrl = !ext.showUrl; $event.stopPropagation();"} Show Link
                %a.red{ "ng-click" => "deleteServerExt(ext); $event.stopPropagation();"} Delete
              .wrap.mt-5.selectable{"ng-if" => "ext.showUrl"} {{ext.url}}

    .container.section-margin
      %h2.tinted Install
      %p.faded Enter an install link
      %form.mt-10.mb-10
        %input.form-control{:autofocus => 'autofocus', :name => 'url', :required => true, :autocomplete => "off",
        :type => 'url', 'ng-model' => 'formData.installLink', "ng-keyup" => "$event.keyCode == 13 && submitInstallLink();"}
      %p.tinted{"ng-if" => "formData.successfullyInstalled"} Successfully installed extension.
