.options{"style" => "font-size: 12px; margin-top: 4px;"}
  %label.enc-option{"ng-if" => "user"}
    %input{"type" => "radio", "ng-model" => "archiveFormData.encryption_type", "ng-value" => "'mk'", "ng-change" => "archiveFormData.encryption_type = 'mk'"}
    Encrypted with Standard File key
  %label.enc-option
    %input{"type" => "radio", "ng-model" => "archiveFormData.encryption_type", "ng-value" => "'ek'", "ng-change" => "archiveFormData.encryption_type = 'ek'"}
    {{user ? 'Encrypted with custom key' : 'Encrypted' }}
  %div{"ng-if" => "!user || (user && archiveFormData.encryption_type == 'ek')"}
    %input{"ng-model" => "archiveFormData.ek", "placeholder" => "Encryption key"}
  %label.enc-option
    %input{"type" => "radio", "ng-model" => "archiveFormData.encryption_type", "ng-value" => "'none'", "ng-change" => "archiveFormData.encryption_type = 'none'"}
    Decrypted
.action-container
  %a{"ng-click" => "downloadDataArchive()"} Download Data Archive

%div{"ng-if" => "!importData.loading"}
  %label#import-archive
    %input{"type" => "file", "style" => "display: none;", "file-change" => "->", "handler" => "importFileSelected(files)"}
    %a.disabled
      %span
        Import Data from Archive
  .import-password{"ng-if" => "importData.requestPassword"}
    Enter the account password associated with the import file.
    %input.field{"type" => "text", "ng-model" => "importData.password"}
    %button{"ng-click" => "submitImportPassword()"} Decrypt & Import
.spinner{"ng-if" => "importData.loading"}
