.background{"ng-click" => "dismiss()"}

.content
  %h3 The following extension has requested these permissions:

  %h4 Extension
  %p Name: {{component.name}}
  %p.wrap URL: {{component.url}}

  %h4 Permissions
  .permission{"ng-repeat" => "permission in permissions"}
    {{permission}}

  %h4 Status
  %p.status{"ng-class" => "{'trusted' : component.trusted}"} {{component.trusted ? 'Trusted' : 'Untrusted'}}

  .learn-more
    Learn more about extension permissions at
    %a{"href" => "https://standardnotes.org/permissions", "target" => "_blank"} https://standardnotes.org/permissions.

  .buttons
    %button.standard.white{"ng-click" => "deny()"} Deny
    %button.standard.blue{"ng-click" => "accept()"} Accept
