.app-column-container {
  display: flex;
  flex-direction: row;
}

.app-column-first {
  width: 180px;
  flex-grow: 0;
}

.app-column-second {
  width: 350px;
  flex-grow: 0;
}

.app-column-third {
  flex: 1 50%;
}

.app-column {}
