#footer-bar {
  position: relative;
  width: 100%;
  height: $footer-height;
  max-height: $footer-height;
  z-index: $z-index-footer-bar;
}

#footer-bar .sk-app-bar-item {
  z-index: $z-index-footer-bar-item;
  position: relative;
  user-select: none;

  .sk-panel {
    max-height: 85vh;
    position: absolute;
    right: 0px;
    left: 10px;
    bottom: 40px;
    min-width: 300px;
    z-index: $z-index-footer-bar-item-panel;
    margin-top: 15px;

    &.sk-panel-right {
      right: 0;
      left: inherit;
    }
  }

  &.dock-shortcut {
    width: 12px;

    &:hover .sk-app-bar-item-column {
      border-bottom: 2px solid var(--sn-stylekit-info-color);
    }

    .sk-app-bar-item-column {
      width: 100%;

      * {
        width: 100%;
      }
    }
  }
}

#account-switcher-icon {
  // When this icon is alone in the footer bar, it is displayed with too little
  // padding on the right, possibly due to the fact it is a raw SVG.
  &.alone {
    margin-right: 4px;
  }
}

#account-panel,
#sync-resolution-menu {
  width: 400px;
}

.sk-panel {
  cursor: default;
}

a.disabled {
  pointer-events: none;
}

#lock-item {
  margin-left: 3px;
}

#footer-lock-icon {
  margin-left: 5px;
  padding-left: 5px;
}
