.sk-app-bar {
  .sk-app-bar-item {
    position: relative;
  }
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  float: left;
  min-width: 160px;
  z-index: $z-index-dropdown-menu;

  margin-top: 5px;
  width: 280px;
  max-height: calc(85vh - 90px);
}

.sn-account-menu,
.sn-quick-settings-menu {
  z-index: $z-index-footer-bar-item-panel;
  @extend .bottom-100;
  @extend .left-0;
  @extend .cursor-auto;
}

.sn-account-menu-headline {
  @extend .sk-h2;
  @extend .sk-bold;
}
