@mixin scrollbars(
  $size,
  $foreground-color,
  $background-color: mix($foreground-color, white, 50%)
) {
  scrollbar-color: $foreground-color $background-color;

  // For Internet Explorer
  & {
    scrollbar-face-color: $foreground-color;
  }

  &:hover::-webkit-scrollbar {
    display: initial;
  }

  &::-webkit-scrollbar {
    display: none;
  }

  &::-webkit-scrollbar {
    width: $size;
  }

  &::-webkit-scrollbar-track {
    background-color: $background-color;
    border-width: 0;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 0.5rem;
    background-color: $foreground-color;
  }

  &::-webkit-scrollbar-button,
  &::-webkit-scrollbar-track-piece,
  &::-webkit-scrollbar-corner,
  &::-webkit-resizer {
    display: none;
  }
}
