/* Generic UI controls that have yet to be extracted into Stylekit  */

.sn-btn {
  @extend .border-0;
  @extend .bg-main;
  @extend .cursor-pointer;
  @extend .capitalize;
  @extend .font-bold;
  @extend .py-2;
  @extend .px-3;
  @extend .rounded;
  @extend .text-info-contrast;
  @extend .text-sm;

  @extend .hover\:brightness-130;
}
