$dark-gray: #2e2e2e;

@import "app/standard";
@import "app/mostrap";
@import "app/main";
@import "app/common";
@import "app/header";
@import "app/tags";
@import "app/notes";
@import "app/editor";
@import "app/extensions";
