{
  "env": {
    "browser": true,
    "es6": true
  },
  "extends": [
    "@standardnotes/eslint-config-extensions",
    "plugin:react/recommended"
  ],
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "ecmaVersion": 11,
    "ecmaFeatures": {
      "jsx": true
    },
    "sourceType": "module"
  },
  "plugins": [
    "react"
  ],
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "globals": {
    "$": true
  }
}
