.sn-component
  .menu-panel.dropdown-menu

    %a.no-decoration{"ng-if" => "extensions.length == 0", "href" => "https://standardnotes.org/extensions", "target" => "blank"}
      %menu-row{"label" => "'Download Actions'"}

    %div{"ng-repeat" => "extension in extensions"}
      .header{"ng-click" => "extension.hide = !extension.hide; $event.stopPropagation();"}
        .column
          %h4.title {{extension.name}}
          .spinner.small.loading{"ng-if" => "extension.loading"}
          %div{"ng-if" => "extension.hide"} …

      %menu-row{"ng-if" => "!extension.hide", "ng-repeat" => "action in extension.actionsWithContextForItem(item)",
      "ng-click" => "executeAction(action, extension); $event.stopPropagation();", "label" => "action.label", "subtitle" => "action.desc",
      "spinner-class" => "action.running ? 'info' : null", "sub-rows" => "action.subrows"}
        .sublabel{"ng-if" => "action.access_type"}
          Uses
          %strong {{action.access_type}}
          access to this note.


.modal.medium-text.medium{"ng-if" => "renderData.showRenderModal", "ng-click" => "$event.stopPropagation();"}
  .content
    .sn-component
      .panel
        .header
          %h1.title Preview
          %a.close-button.info{"ng-click" => "renderData.showRenderModal = false; $event.stopPropagation();"} Close
        .content.selectable
          %h2 {{renderData.title}}
          %p.normal{"style" => "white-space: pre-wrap; font-size: 16px;"} {{renderData.text}}
