.sk-modal-background(ng-click="dismiss()")
.sk-modal-content(ng-attr-id="component-content-outer-{{component.uuid}}")
  .sn-component
    .sk-panel(ng-attr-id="component-content-inner-{{component.uuid}}")
      .sk-panel-header
        .sk-panel-header-title
          | {{component.name}}
        a.sk-a.info.close-button(ng-click="dismiss()") Close
      component-view.component-view(component="component")
