.background{"ng-click" => "dismiss()"}

.content{"ng-attr-id" => "component-content-outer-{{component.uuid}}"}
  .sn-component
    .panel{"ng-attr-id" => "component-content-inner-{{component.uuid}}"}
      .header
        %h1.title
          {{component.name}}
        %a.close-button.info{"ng-click" => "dismiss()", "href" => "#"} Close
      %component-view.component-view{"component" => "component"}
