.background{"ng-click" => "dismiss()"}

.content
  .sn-component
    .panel{"ng-attr-id" => "component-{{component.uuid}}"}
      .header
        %h1.title
          {{component.name}}
          %span.subtle.subtitle{"ng-if" => "component.runningLocally"} | Desktop Mode
        %a.close-button.info{"ng-click" => "dismiss()"} Close
      %component-view.component-view{"component" => "component"}
