.sn-component{"ng-if" => "issueLoading"}
  .app-bar.no-edges.no-top-edge
    .left
      .item
        .label.warning There was an issue loading {{component.name}}.
    .right
      .item{"ng-click" => "reloadComponent()"}
        .label Reload

.sn-component{"ng-if" => "error == 'expired'"}
  .panel.static
    .content
      .panel-section.stretch
        %h2.title Unable to load Standard Notes Extended
        %p Your Extended subscription expired on {{component.dateToLocalizedString(component.valid_until)}}.
        %p
          Please visit
          %a{"href" => "https://dashboard.standardnotes.org", "target" => "_blank"} dashboard.standardnotes.org
          to renew your subscription.
        .panel-row
          .panel-column
            %p
              %strong To reload your account status:
            %p
              %ol
                %li
                  Open the
                  %strong Extensions
                  menu located in the lower left corner of the app to refresh your account status.
                %li Click Reload below.

        .panel-row
          .button.info{"ng-if" => "!reloading", "ng-click" => "reloadStatus()"}
            .label Reload
          .spinner.info.small{"ng-if" => "reloading"}

        .panel-row
        .panel-section
          %p{"ng-if" => "component.isEditor()"}
            <strong>Otherwise</strong>, please follow the steps below to disable any external editors,
            so you can edit your note using the plain text editor instead.

          %p To temporarily disable this extension:

          .panel-row
            .button.info{"ng-click" => "destroy()"}
              .label Disable Extension
            .spinner.info.small{"ng-if" => "reloading"}

          .panel-row

          %div{"ng-if" => "component.isEditor()"}
            %p To disassociate this note from this editor:

            %ol
              %li Click the "Editor" menu item above (under the note title).
              %li Select "Plain Editor".
              %li Repeat this for every note you'd like to access. You can also delete the editor completely to disable it for all notes. To do so, click "Extensions" in the lower left corner of the app, then, for every editor, click "Uninstall".

          %p
            Need help? Please email us at
            %a{"href" => "mailto:hello@standardnotes.org", "target" => "_blank"} hello@standardnotes.org
            or check out the
            %a{"href" => "https://standardnotes.org/help", "target" => "_blank"} Help
            page.

.sn-component{"ng-if" => "error == 'offline-restricted'"}
  .panel.static
    .content
      .panel-section.stretch
        %h2.title You have restricted this extension to be used offline only.
        %p Offline extensions are not available in the Web app.
        .panel-row
          .panel-column
            %p You can either:
            %p
              %ul
                %li <strong>Enable the Hosted option</strong> for this extension by opening the 'Extensions' menu and toggling 'Use hosted when local is unavailable' under this extension's options. Then press Reload below.
                %li <strong>Use the Desktop application.</strong>
        .panel-row
          .button.info{"ng-if" => "!reloading", "ng-click" => "reloadStatus()"}
            .label Reload
          .spinner.info.small{"ng-if" => "reloading"}

.sn-component{"ng-if" => "error == 'url-missing'"}
  .panel.static
    .content
      .panel-section.stretch
        %h2.title This extension is not installed correctly.
        %p Please uninstall {{component.name}}, then re-install it.

        %p
          This issue can occur if you access Standard Notes using an older version of the app.
          Ensure you are running at least version 2.1 on all platforms.


%iframe{"ng-if" => "component && componentValid",
  "ng-attr-id" => "component-iframe-{{component.uuid}}",
  "ng-src" => "{{getUrl() | trusted}}", "frameBorder" => "0",
  "sandbox" => "allow-scripts allow-top-navigation-by-user-activation allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-modals allow-forms",
  "data-component-id" => "{{component.uuid}}"}
  Loading
