.sn-component
  .sk-menu-panel.dropdown-menu
    .sk-menu-panel-section
      .sk-menu-panel-header
        .sk-menu-panel-header-title Note Editor
      menu-row(action='selectComponent(null)', circle="selectedEditor == null && 'success'", label="'Plain Editor'")
      menu-row(action='selectComponent(editor)', button-action='toggleDefaultForEditor(editor)', button-class="defaultEditor == editor ? 'warning' : 'info'", button-text="defaultEditor == editor ? 'Undefault' : 'Set Default'", circle="selectedEditor === editor && 'success'", has-button='selectedEditor == editor || defaultEditor == editor', label='editor.name', ng-repeat='editor in editors')
        .sk-menu-panel-column(ng-if='component.content.conflict_of || shouldDisplayRunningLocallyLabel(editor)')
          strong.danger.medium-text(ng-if='editor.content.conflict_of') Conflicted copy
          .sk-sublabel(ng-if='shouldDisplayRunningLocallyLabel(editor)') Running Locally
      a.no-decoration(href='https://standardnotes.org/extensions', ng-if='editors.length == 0', rel='noopener', target='blank')
        menu-row(label="'Download More Editors'")
