.sn-component
  .sk-menu-panel.dropdown-menu
    .sk-menu-panel-section
      .sk-menu-panel-header
        .sk-menu-panel-header-title Note Editor
      %menu-row{"label" => "'Plain Editor'", "circle" => "selectedEditor == null && 'success'", "action" => "selectComponent(null)"}

      %menu-row{"ng-repeat" => "editor in editors", "action" => "selectComponent(editor)", "label" => "editor.name",
      "circle" => "selectedEditor === editor && 'success'",
       "has-button" => "selectedEditor == editor || defaultEditor == editor", "button-text" => "defaultEditor == editor ? 'Undefault' : 'Set Default'",
       "button-action" => "toggleDefaultForEditor(editor)", "button-class" => "defaultEditor == editor ? 'warning' : 'info'"}
        .sk-menu-panel-column{"ng-if" => "component.content.conflict_of || shouldDisplayRunningLocallyLabel(editor)"}
          %strong.danger.medium-text{"ng-if" => "editor.content.conflict_of"} Conflicted copy
          .sk-sublabel{"ng-if" => "shouldDisplayRunningLocallyLabel(editor)"} Running Locally

      %a.no-decoration{"ng-if" => "editors.length == 0", "href" => "https://standardnotes.org/extensions", "target" => "blank"}
        %menu-row{"label" => "'Download More Editors'"}
