.sk-menu-panel-row.row{"ng-attr-title" => "{{desc}}", "ng-click" => "onClick($event)"}
  .sk-menu-panel-column
    .left
      .sk-menu-panel-column{"ng-if" => "circle"}
        .sk-circle.small{"ng-class" => "circle"}
      .sk-menu-panel-column{"ng-class" => "{'faded' : faded || disabled}"}
        .sk-label
          {{label}}
        .sk-sublabel{"ng-if" => "subtitle"}
          {{subtitle}}
        %ng-transclude
    .sk-menu-panel-subrows{"ng-if" => "subRows && subRows.length > 0"}
      %menu-row{"ng-repeat" => "row in subRows", "action" => "row.onClick()",
      "label" => "row.label", "subtitle" => "row.subtitle", "spinner-class" => "row.spinnerClass"}

  .sk-menu-panel-column{"ng-if" => "hasButton"}
    .sk-button{"ng-click" => "clickButton($event)", "ng-class" => "buttonClass"}
      .sk-label {{buttonText}}

  .sk-menu-panel-column{"ng-if" => "spinnerClass"}
    .sk-spinner.small{"ng-class" => "spinnerClass"}
