.modal.medium
  .content
    .sn-component
      .panel
        .header
          %h1.title {{title}}
          %a.close-button{"ng-click" => "close()"} Close
        .content

          %div{"ng-if" => "step == 0"}
            %div{"ng-if" => "changePassword"}
              %p Since your encryption key is based on your password, changing your password requires all your notes and tags to be re-encrypted using your new key.
              %p If you have thousands of items, this can take several minutes—you must keep the application window open during this process.
            %div{"ng-if" => "securityUpdate"}
              %p Welcome to the security update process.

            %p.info Press Continue to proceed.

          .panel-section{"ng-if" => "step > 0"}

            %h3.title.panel-row Step {{step}} — {{titleForStep(step)}}

            %div{"ng-if" => "step == 1"}
              %p.panel-row
                The entirety of your data will be re-encrypted and re-uploaded to your account. This is a generally safe process,
                but unforeseen factors like poor network connectivity or a sudden shutdown of your computer may cause this process to fail.
                It's best to be on the safe side before large operations like this.
              .panel-row
                .button-group
                  .button.info{"ng-click" => "downloadBackup(true)"}
                    .label Download Encrypted Backup
                  .button.info{"ng-click" => "downloadBackup(false)"}
                    .label Download Decrypted Backup

            %div{"ng-if" => "step == 2"}
              %p.panel-row
                As a result of this process, your encryption keys will change.
                Any devices on which you use Standard Notes will need to end their session. After this process completes, you'll be asked to sign back in.

              %p.bold.panel-row Please sign out of all applications (excluding this one), including desktop, web, and mobile (iOS and Android).
              %p.panel-row Press Continue only when you have completed signing out of all your devices.


            %div{"ng-if" => "step == 3"}
              %div{"ng-if" => "changePassword"}
              %div{"ng-if" => "securityUpdate"}
                %p.panel-row Enter your current password. We'll run this through our encryption scheme to generate strong new encryption keys.

              .panel-row
                %form
                  %input.form-control{:type => 'password', "ng-model" => "formData.currentPassword", "placeholder" => "Current Password", "sn-autofocus" => "true", "should-focus" => "true"}

                  %input.form-control{"ng-if" => "changePassword", :type => 'password', "ng-model" => "formData.newPassword", "placeholder" => "New Password"}
                  %input.form-control{"ng-if" => "changePassword", :type => 'password', "ng-model" => "formData.newPasswordConfirmation", "placeholder" => "Confirm New Password"}

            %div{"ng-if" => "step == 4"}
              %p.panel-row
                Your data is being re-encrypted with your new keys and synced to your account.
              %p.panel-row.danger
                Do not close this window until this process completes.

        .footer
          %a.right{"ng-click" => "continue()", "ng-class" => "{'disabled' : lockContinue}"}
            .spinner.small.inline.info{"ng-if" => "showSpinner", "style" => "margin-right: 5px;"}
            {{continueTitle}}
