.sk-modal-background{"ng-click" => "deny()"}

.sk-modal-content#permissions-modal
  .sn-component
    .sk-panel
      .sk-panel-header
        .sk-panel-header-title Activate Extension
        %a.sk-a.info.close-button{"ng-click" => "deny()"} Cancel
      .sk-panel-content
        .sk-panel-section
          .sk-panel-row
            .sk-h2
              %strong {{component.name}}
              would like to interact with your
              {{permissionsString}}

          .sk-panel-row
            %p.sk-p
              Extensions use an offline messaging system to communicate. Learn more at
              %a.sk-a.info{"href" => "https://standardnotes.org/permissions", "target" => "_blank", "rel" => "noopener"} https://standardnotes.org/permissions.
      .sk-panel-footer
        .sk-button.info.big.block.bold{"ng-click" => "accept()"}
          .sk-label Continue
