.background{"ng-click" => "cancel()"}

.content#privileges-modal
  .sn-component
    .panel
      .header
        %h1.title Manage Privileges
        %a.close-button.info{"ng-click" => "cancel()"} Done
      .content
        .panel-section
          %table
            %thead
              %tr
                %th
                %th{"ng-repeat" => "cred in availableCredentials"}
                  %strong {{credentialDisplayInfo[cred].label}}
                  %p.font-small{"style" => "margin-top: 2px", "ng-show" => "!credentialDisplayInfo[cred].availability"} Not Configured
            %tbody
              %tr{"ng-repeat" => "action in availableActions"}
                %td
                  %p {{displayInfoForAction(action)}}
                %th{"ng-repeat" => "credential in availableCredentials"}
                  %input{"type" => "checkbox", "ng-checked" => "isCredentialRequiredForAction(action, credential)", "ng-click" => "checkboxValueChanged(action, credential)"}

        .panel-section{"ng-if" => "sessionExpirey && !sessionExpired"}
          %p You will not be asked to authenticate until {{sessionExpirey}}.
          %a{"ng-click" => "clearSession()"} Clear Session
      .footer
        %h2 About Privileges
        .panel-section.no-bottom-pad
          .text-content
            %p
              Privileges represent interface level authentication for accessing certain items and features.
              Note that when your application is unlocked, your data exists in temporary memory in an unencrypted state.
              Privileges are meant to protect against unwanted access in the event of an unlocked application, but do not affect data encryption state.
            %p
              Privileges sync across your other devices (not including mobile); however, note that if you require
              a "Local Passcode" privilege, and another device does not have a local passcode set up, the local passcode
              requirement will be ignored on that device.
