.background{"ng-click" => "cancel()"}

.content#privileges-modal
  .sn-component
    .panel
      .header
        %h1.title Authentication Required
        %a.close-button.info{"ng-click" => "cancel()"} Cancel
      .content
        .panel-section
          .panel-row{"ng-repeat" => "credential in requiredCredentials"}
            %p {{promptForCredential(credential)}}
            %input{"type" => "password", "ng-model" => "authenticationParameters[credential]"}
            %label.danger{"ng-if" => "isCredentialInFailureState(credential)"} Invalid authentication. Please try again.

      .footer
        .button.info.big.block.bold{"ng-click" => "submit()"} Submit
