.sk-modal-background{"ng-click" => "cancel()"}

.sk-modal-content#privileges-modal
  .sn-component
    .sk-panel
      .sk-panel-header
        .sk-panel-header-title Authentication Required
        %a.close-button.info{"ng-click" => "cancel()"} Cancel
      .sk-panel-content
        .sk-panel-section
          %div{"ng-repeat" => "credential in requiredCredentials"}
            .sk-p.sk-bold.sk-panel-row
              %strong {{promptForCredential(credential)}}
            .sk-panel-row
              %input.sk-input.contrast{"type" => "password", "ng-model" => "authenticationParameters[credential]",
              "sn-autofocus" => "true", "should-focus" => "$index == 0", "sn-enter" => "submit()"}
            .sk-panel-row
              %label.sk-label.danger{"ng-if" => "isCredentialInFailureState(credential)"} Invalid authentication. Please try again.
          .sk-panel-row
          .sk-panel-row
            .sk-horizontal-group
              .sk-p.sk-bold Remember For
              %a.sk-a.info{"ng-repeat" => "option in sessionLengthOptions", "ng-click" => "selectSessionLength(option.value)",
              "ng-class" => "{'boxed' : option.value == selectedSessionLength}"}
                {{option.label}}

      .sk-panel-footer.extra-padding
        .sk-button.info.big.block.bold{"ng-click" => "submit()"}
          .sk-label Submit
