.background{"ng-click" => "cancel()"}

.content#privileges-modal
  .sn-component
    .panel
      .header
        %h1.title Authentication Required
        %a.close-button.info{"ng-click" => "cancel()"} Cancel
      .content
        .panel-section
          %div{"ng-repeat" => "credential in requiredCredentials"}
            %p
              %strong {{promptForCredential(credential)}}
            %div
              %input{"type" => "password", "ng-model" => "authenticationParameters[credential]",
              "sn-autofocus" => "true", "should-focus" => "$index == 0", "sn-enter" => "submit()"}
            %div
              %label.danger{"ng-if" => "isCredentialInFailureState(credential)"} Invalid authentication. Please try again.
          .panel-row
          .panel-row
            .horizontal-group
              %p
                %strong Remember for
              %a.info{"ng-repeat" => "option in sessionLengthOptions", "ng-click" => "selectSessionLength(option.value)",
              "ng-class" => "{'info boxed' : option.value == selectedSessionLength}"}
                {{option.label}}

      .footer
        .button.info.big.block.bold{"ng-click" => "submit()"} Submit
