.background{"ng-click" => "cancel()"}

.content#privileges-modal
  .sn-component
    .panel
      .header
        %h1.title Manage Privileges
        %a.close-button.info{"ng-click" => "cancel()"} Done
      .content
        .panel-section
          %table
            %thead
              %tr
                %th
                %th{"ng-repeat" => "cred in availableCredentials"}
                  {{displayInfoForCredential(cred)}}
            %tbody
              %tr{"ng-repeat" => "action in availableActions"}
                %td
                  %p {{displayInfoForAction(action)}}
                %th{"ng-repeat" => "credential in availableCredentials"}
                  %input{"type" => "checkbox", "ng-checked" => "isCredentialRequiredForAction(action, credential)", "ng-click" => "checkboxValueChanged(action, credential)"}
