.sn-component
  #item-preview-modal.sk-modal.medium
    .sk-modal-background
    .sk-modal-content
      .sn-component
        .sk-panel
          .sk-panel-header
            .sk-panel-header-title Preview
            .sk-horizontal-group
              a.sk-a.info.close-button(ng-click="restore(false)") Restore
              a.sk-a.info.close-button(ng-click="restore(true)") Restore as copy
              a.sk-a.info.close-button(ng-click="dismiss(); $event.stopPropagation()") Close
          .sk-panel-content.selectable(ng-if="!editor")
            .sk-h2 {{content.title}}
            p.normal.sk-p(style="white-space: pre-wrap; font-size: 16px;") {{content.text}}
          component-view.component-view(component="editor" ng-if="editor")
