.sn-component#session-history-menu
  .menu-panel.dropdown-menu
    .header
      .column
        %h4.title {{history.revisions.length || 'No'}} revisions
      %h4{"ng-click" => "showOptions = !showOptions; $event.stopPropagation();"}
        %a Options

    %div{"ng-if" => "showOptions"}
      %menu-row{"label" => "'Clear note local history'", "ng-click" => "clearItemHistory(); $event.stopPropagation();"}
      %menu-row{"label" => "'Clear all local history'", "ng-click" => "clearAllHistory(); $event.stopPropagation();"}
      %menu-row{"label" => "(diskEnabled ? 'Disable' : 'Enable') + ' saving history to disk'", "ng-click" => "toggleDiskSaving(); $event.stopPropagation();"}
        .sublabel
          Saving to disk may decrease app loading speed and increase memory footprint.

    %menu-row{"ng-repeat" => "revision in history.revisions",
      "ng-click" => "openRevision(revision); $event.stopPropagation();",
      "label" => "revision.previewTitle()"}
      .sublabel.opaque{"ng-class" => "classForRevision(revision)"}
        {{revision.previewSubTitle()}}

.modal.medium-text.medium{"ng-if" => "renderData.showRenderModal", "ng-click" => "$event.stopPropagation();"}
  .content
    .sn-component
      .panel
        .header
          %h1.title Preview
          %a.close-button.info{"ng-click" => "renderData.showRenderModal = false; $event.stopPropagation();"} Close
        .content.selectable
          %h2 {{renderData.title}}
          %p.normal{"style" => "white-space: pre-wrap; font-size: 16px;"} {{renderData.text}}
