#session-history-menu.sn-component
  .sk-menu-panel.dropdown-menu
    .sk-menu-panel-header
      .sk-menu-panel-header-title {{history.entries.length || 'No'}} revisions
      a.sk-a.info.sk-h5(ng-click='showOptions = !showOptions; $event.stopPropagation();') Options
    div(ng-if='showOptions')
      menu-row(action='clearItemHistory()', label="'Clear note local history'")
      menu-row(action='clearAllHistory()', label="'Clear all local history'")
      menu-row(action='toggleAutoOptimize()', label="(autoOptimize ? 'Disable' : 'Enable') + ' auto cleanup'")
        .sk-sublabel
          | Automatically cleans up small revisions to conserve space.
      menu-row(action='toggleDiskSaving()', label="(diskEnabled ? 'Disable' : 'Enable') + ' saving history to disk'")
        .sk-sublabel
          | Saving to disk is not recommended. Decreases performance and increases app loading time and memory footprint.
    menu-row(action='openRevision(revision);', label='revision.previewTitle()', ng-repeat='revision in entries')
      .sk-sublabel.opaque(ng-class='classForRevision(revision)')
        | {{revision.previewSubTitle()}}
