.sn-component#session-history-menu
  .sk-menu-panel.dropdown-menu
    .sk-menu-panel-header
      .sk-menu-panel-header-title {{history.entries.length || 'No'}} revisions
      %a.sk-a.info.sk-h5{"ng-click" => "showOptions = !showOptions; $event.stopPropagation();"} Options

    %div{"ng-if" => "showOptions"}
      %menu-row{"label" => "'Clear note local history'", "action" => "clearItemHistory()"}
      %menu-row{"label" => "'Clear all local history'", "action" => "clearAllHistory()"}
      %menu-row{"label" => "(autoOptimize ? 'Disable' : 'Enable') + ' auto cleanup'", "action" => "toggleAutoOptimize()"}
        .sk-sublabel
          Automatically cleans up small revisions to conserve space.
      %menu-row{"label" => "(diskEnabled ? 'Disable' : 'Enable') + ' saving history to disk'", "action" => "toggleDiskSaving()"}
        .sk-sublabel
          Saving to disk is not recommended. Decreases performance and increases app loading time and memory footprint.

    %menu-row{"ng-repeat" => "revision in entries",
      "action" => "openRevision(revision);",
      "label" => "revision.previewTitle()"}
      .sk-sublabel.opaque{"ng-class" => "classForRevision(revision)"}
        {{revision.previewSubTitle()}}
