.sn-component#session-history-menu
  .menu-panel.dropdown-menu
    .header
      .column
        %h4.title {{history.entries.length || 'No'}} revisions
      %h4{"ng-click" => "showOptions = !showOptions; $event.stopPropagation();"}
        %a Options

    %div{"ng-if" => "showOptions"}
      %menu-row{"label" => "'Clear note local history'", "action" => "clearItemHistory()"}
      %menu-row{"label" => "'Clear all local history'", "action" => "clearAllHistory()"}
      %menu-row{"label" => "(autoOptimize ? 'Disable' : 'Enable') + ' auto cleanup'", "action" => "toggleAutoOptimize()"}
        .sublabel
          Automatically cleans up small revisions to conserve space.
      %menu-row{"label" => "(diskEnabled ? 'Disable' : 'Enable') + ' saving history to disk'", "action" => "toggleDiskSaving()"}
        .sublabel
          Saving to disk may increase app loading time and memory footprint.

    %menu-row{"ng-repeat" => "revision in history.entries",
      "action" => "openRevision(revision);",
      "label" => "revision.previewTitle()"}
      .sublabel.opaque{"ng-class" => "classForRevision(revision)"}
        {{revision.previewSubTitle()}}
