.app-column {
  overflow: hidden;

  .content {
    height: 100%;
  }

  @media screen and (max-width: 768px) {
    &[data-selected-pane] {
      flex-grow: 1;

      .content {
        overflow-y: auto;
      }
    }

    #editor-content {
      width: 100% !important;
      left: 0 !important;
    }

    &:not([data-selected-pane]) {
      min-height: 0;
      height: auto;
      padding: 0;
    }
  }
}
