.animate-slide-in-top {
  animation: slide-in-top 0.1s ease-out;
}

@keyframes slide-in-top {
  0% {
    opacity: 0;
    transform: translateY(-40%);
  }
  75% {
    opacity: 1;
  }
  100% {
    transform: translateY(0%);
  }
}

.font-editor {
  font-family: var(--sn-stylekit-editor-font-family);
}

.wrap {
  word-wrap: break-word;
  word-break: break-all;
}
