@import '../../../styles/src/Styles/_colors.scss';
@import '../../../styles/src/Styles/_panels.scss';
@import 'theme';
@import 'main';
@import 'ui';
@import 'footer';
@import 'navigation';
@import 'items-column';
@import 'editor';
@import 'menus';
@import 'modals';
@import 'stylekit-sub';
@import 'reach-sub';
@import 'sessions-modal';
@import 'preferences';
@import 'focused';
@import 'sn';
@import 'columns';
@import 'animation';

@tailwind base;
@tailwind components;
@tailwind utilities;