.main-ui-view(
  ng-class='self.platformString'
)
  #app.app(
    ng-class='self.state.appClass', 
    ng-if='!self.state.needsUnlock && self.state.ready'
    )
    tags-panel
    notes-panel
    editor-panel

  footer(
    ng-if='!self.state.needsUnlock && self.state.ready'
    )