.sn-component.section.tags#tags-column{"aria-label" => "Tags"}

  .component-view-container{"ng-if" => "ctrl.component.active"}
    %component-view.component-view{"component" => "ctrl.component"}

  #tags-content.content{"ng-if" => "!(ctrl.component && ctrl.component.active)"}
    .tags-title-section.section-title-bar
      .section-title-bar-header
        .sk-h3.title
          %span.sk-bold Views
        .sk-button.sk-secondary-contrast.wide{"ng-click" => "ctrl.clickedAddNewTag()", "title" => "Create a new tag"}
          .sk-label
            %i.icon.ion-plus.add-button

    .scrollable
      .infinite-scroll
        .tag{"ng-repeat" => "tag in ctrl.smartTags", "ng-click" => "ctrl.selectTag(tag)",
        "ng-class" => "{'selected' : ctrl.selectedTag == tag, 'faded' : !tag.content.isAllTag}"}
          .tag-info
            %input.title{"ng-disabled" => "true", "ng-model" => "tag.title"}
            .count{"ng-show" => "tag.content.isAllTag"} {{tag.cachedNoteCount}}

        .tags-title-section.section-title-bar
          .section-title-bar-header
            .sk-h3.title
              %span.sk-bold Tags
        .tag{"ng-repeat" => "tag in ctrl.tags track by tag.uuid", "ng-click" => "ctrl.selectTag(tag)", "ng-class" => "{'selected' : ctrl.selectedTag == tag}"}
          .tag-info
            .tag-icon #
            %input.title{"ng-class" => "{'editing' : ctrl.editingTag == tag}", "ng-attr-id" => "tag-{{tag.uuid}}", "ng-click" => "ctrl.selectTag(tag)", "ng-model" => "tag.title",
            "ng-keyup" => "$event.keyCode == 13 && $event.target.blur()", "sn-autofocus" => "true", "should-focus" => "ctrl.newTag || ctrl.editingTag == tag",
            "ng-change" => "ctrl.tagTitleDidChange(tag)", "ng-blur" => "ctrl.saveTag($event, tag)", "spellcheck" => "false"}
            .count {{tag.cachedNoteCount}}

          .red.small-text.bold{"ng-show" => "tag.content.conflict_of"} Conflicted Copy
          .red.small-text.bold{"ng-show" => "tag.errorDecrypting"} Missing Keys

          .menu{"ng-show" => "ctrl.selectedTag == tag"}
            %a.item{"ng-click" => "ctrl.selectedRenameTag($event, tag)", "ng-show" => "!ctrl.editingTag"} Rename
            %a.item{"ng-click" => "ctrl.saveTag($event, tag)", "ng-show" => "ctrl.editingTag"} Save
            %a.item{"ng-click" => "ctrl.selectedDeleteTag(tag)"} Delete

        .no-tags-placeholder{"ng-show" => "ctrl.tags.length == 0"}
          No tags. Create one using the add button above.

  %panel-resizer{"panel-id" => "'tags-column'", "default-width" => 150, "on-resize-finish" => "ctrl.onPanelResize", "control" => "ctrl.panelController", "hoverable" => "true", "collapsable" => "true"}
