.sn-component.section.tags#tags-column{"aria-label" => "Tags"}

  .component-view-container{"ng-if" => "ctrl.component.active"}
    %component-view.component-view{"component" => "ctrl.component"}

  #tags-content.content{"ng-if" => "!(ctrl.component && ctrl.component.active)"}
    .tags-title-section.section-title-bar
      .section-title-bar-header
        .sk-h3.title
          %span.sk-bold Views
        .sk-button.sk-secondary-contrast.wide{"ng-click" => "ctrl.clickedAddNewTag()", "title" => "Create a new tag"}
          .sk-label +

    .scrollable
      .infinite-scroll
        .tag{"ng-repeat" => "tag in ctrl.smartTags", "ng-click" => "ctrl.selectTag(tag)", "ng-class" => "{'selected' : ctrl.selectedTag == tag}"}
          .info
            %input.title{"ng-disabled" => "true", "ng-model" => "tag.title"}

        .tags-title-section.section-title-bar
          .section-title-bar-header
            .sk-h3.title
              %span.sk-bold Tags
        .tag{"ng-repeat" => "tag in ctrl.tags track by tag.uuid", "ng-click" => "ctrl.selectTag(tag)", "ng-class" => "{'selected' : ctrl.selectedTag == tag}"}
          .info
            %input.title{"ng-attr-id" => "tag-{{tag.uuid}}", "ng-click" => "ctrl.selectTag(tag)", "ng-model" => "tag.title",
            "ng-keyup" => "$event.keyCode == 13 && $event.target.blur()", "sn-autofocus" => "true", "should-focus" => "ctrl.newTag || ctrl.editingTag == tag",
            "ng-change" => "ctrl.tagTitleDidChange(tag)", "ng-blur" => "ctrl.saveTag($event, tag)", "spellcheck" => "false"}
            .count {{ctrl.noteCount(tag)}}

          .red.small-text.bold{"ng-if" => "tag.conflict_of"} Conflicted copy
          .red.small-text.bold{"ng-if" => "tag.errorDecrypting"} Unable to Decrypt

          .menu{"ng-if" => "ctrl.selectedTag == tag"}
            %a.item{"ng-click" => "ctrl.selectedRenameTag($event, tag)", "ng-if" => "!ctrl.editingTag"} Rename
            %a.item{"ng-click" => "ctrl.saveTag($event, tag)", "ng-if" => "ctrl.editingTag"} Save
            %a.item{"ng-click" => "ctrl.selectedDeleteTag(tag)"} Delete

  %panel-resizer{"panel-id" => "'tags-column'", "default-width" => 150, "on-resize-finish" => "ctrl.onPanelResize", "control" => "ctrl.panelController", "hoverable" => "true", "collapsable" => "true"}
