name: Desktop Windows Sign & Release

on:
  workflow_dispatch:

jobs:
  Windows:
    runs-on: self-hosted
    env:
      WINDOWS_TOKEN_ALIAS: ${{ secrets.WINDOWS_TOKEN_ALIAS }}
      WINDOWS_TOKEN_PASSWORD: ${{ secrets.WINDOWS_TOKEN_PASSWORD }}

    defaults:
      run:
        working-directory: packages/desktop
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v3
        with:
          registry-url: 'https://registry.npmjs.org'
          node-version-file: '.nvmrc'
      - run: yarn install
      - run: yarn build:desktop
      - run: yarn run webpack --config desktop.webpack.prod.js
      - run: echo APP_VERSION=$(node -p "require('./package.json').version") >> $GITHUB_ENV
      - run: yarn run electron-builder --windows --x64 --ia32 --publish=never --c.extraMetadata.version=${{ env.APP_VERSION }}

      - name: Upload
        uses: actions/upload-artifact@v3.0.0
        with:
          name: assets
          path: |
            packages/desktop/dist/*.blockmap
            packages/desktop/dist/*.exe
            packages/desktop/dist/*.yml
            packages/desktop/dist/*.yaml

  Publish:
    runs-on: ubuntu-latest
    needs: [Windows]
    defaults:
      run:
        working-directory: packages/desktop
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v3
        with:
          registry-url: 'https://registry.npmjs.org'
          node-version-file: '.nvmrc'
      - uses: actions/download-artifact@v3
        with:
          name: assets
          path: packages/desktop/dist
      - name: get-npm-version
        id: package-version
        uses: martinbeentjes/npm-get-version-action@main
        with:
          path: packages/desktop
