name: General PR

on:
  pull_request:
    branches:
      - main
    paths:
      - '**/**'
      - '!packages/components/**'

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
      - name: Install dependencies
        run: yarn install
      - name: Build
        run: yarn build:all
      - name: ESLint
        run: yarn lint
      - name: Build Android
        run: yarn android:bundle
      - name: Test
        run: yarn test
      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Create SNJS Docker image for E2E testing
        run: |
          yarn docker build @standardnotes/snjs -t standardnotes/snjs:${{ github.sha }}
          docker push standardnotes/snjs:${{ github.sha }}
          docker tag standardnotes/snjs:${{ github.sha }} standardnotes/snjs:test
          docker push standardnotes/snjs:test
