name: Publish Packages

on:
  push:
    branches: [ main ]

jobs:
  Build:
    if: "${{ contains(github.event.head_commit.message, 'chore(release): publish') == false }}"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          token: ${{ secrets.CI_PAT_TOKEN }}
          fetch-depth: 0

      - name: Set up Node
        uses: actions/setup-node@v3
        with:
          registry-url: 'https://registry.npmjs.org'
          node-version-file: '.nvmrc'
          cache: 'yarn'

      - name: Setup git config
        run: |
          git config --global user.name "standardci"
          git config --global user.email "ci@standardnotes.com"
      - name: Import GPG key
        uses: crazy-max/ghaction-import-gpg@v4
        with:
          gpg_private_key: ${{ secrets.GPG_PRIVATE_KEY }}
          passphrase: ${{ secrets.PASSPHRASE }}
          git_user_signingkey: true
          git_commit_gpgsign: true

      - name: Install dependencies
        run: yarn install --immutable

      - name: Build
        run: yarn build:all

      - name: ESLint
        run: yarn lint

      - name: Build Android
        run: yarn android:bundle

      - name: Test
        run: yarn test

      - name: Login to Docker Hub
        if: "${{ contains(github.event.head_commit.message, 'skip e2e') == false }}"
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Publish SNJS Docker image for E2E testing
        if: "${{ contains(github.event.head_commit.message, 'skip e2e') == false }}"
        run: |
          yarn docker build @standardnotes/snjs -t standardnotes/snjs:${{ github.sha }}
          docker push standardnotes/snjs:${{ github.sha }}

      - name: Run E2E test suite
        if: "${{ contains(github.event.head_commit.message, 'skip e2e') == false }}"
        uses: convictional/trigger-workflow-and-wait@v1.6.5
        with:
          owner: standardnotes
          repo: e2e
          github_token: ${{ secrets.CI_PAT_TOKEN }}
          workflow_file_name: testing-with-stable-server.yml
          wait_interval: 30
          client_payload: '{"image_tag": "${{ github.sha }}"}'
          propagate_failure: true
          trigger_workflow: true
          wait_workflow: true

      - name: Bump version
        run: yarn release:prod

      - name: Publish
        run: yarn publish:prod
        env:
          NODE_AUTH_TOKEN: ${{ secrets.CI_NPM_TOKEN }}

      - name: Publish SNJS Docker image as stable
        if: "${{ contains(github.event.head_commit.message, 'skip e2e') == false }}"
        run: |
          docker tag standardnotes/snjs:${{ github.sha }} standardnotes/snjs:latest
          docker push standardnotes/snjs:latest
