name: Publish Packages

on:
  push:
    branches: [ main ]

jobs:
  Build:
    if: "${{ contains(github.event.head_commit.message, 'chore(release): publish') == false }}"

    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          token: ${{ secrets.CI_PAT_TOKEN }}
          fetch-depth: 0

      - name: Set up Node
        uses: actions/setup-node@v3
        with:
          registry-url: 'https://registry.npmjs.org'

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1

      - name: Setup git config
        run: |
          git config --global user.name "standardci"
          git config --global user.email "ci@standardnotes.com"
      - name: Import GPG key
        uses: crazy-max/ghaction-import-gpg@v4
        with:
          gpg_private_key: ${{ secrets.GPG_PRIVATE_KEY }}
          passphrase: ${{ secrets.PASSPHRASE }}
          git_user_signingkey: true
          git_commit_gpgsign: true

      - name: Install Dependencies
        run: yarn install --immutable

      - name: Build packages
        run: yarn build:all

      - name: Bump version
        run: yarn release:prod

      - name: Publish
        run: yarn publish:prod
        env:
          NODE_AUTH_TOKEN: ${{ secrets.CI_NPM_TOKEN }}
